<div class="feature-header">
  <p>
    <label>Atualize os dados do cupom no formulário abaixo.</label>
  </p>
  <div class="actions">
    <app-button-back fallbackURL="/coupons"></app-button-back>

    <button (click)="submitCoupon()" pButton type="button" label="Salvar"></button>
  </div>
</div>
<p-card>
  <form nz-form [formGroup]="formFields">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="code">Código</label>
        <input pInputText name="code" id="code" placeholder="Código do cupom ex: frida10%" formControlName="code" />
        <div *ngIf="formFields.getError('required', ['code']) && isFieldInvalid('code')">
          <small class="p-invalid">Insira o codigo do cupom</small>
        </div>
        <div class="p-invalid" *ngIf="formFields.getError('existingCode', ['code']) as error">
          <small>{{ error.message }}</small>
        </div>
      </div>
      <div class="p-field p-col-6">
        <label for="description">Descrição</label>
        <input
          pInputText
          name="description"
          id="description"
          placeholder="Descrição do cupom ex: 10% no total do carrinho"
          formControlName="description"
        />
        <small [hidden]="!isFieldInvalid('description')" id="description-help" style="color: #f44336;"
          >Insira a descrição do cupom</small
        >
      </div>
      <div class="p-field p-col-3">
        <label for="type">Tipo</label>
        <p-dropdown [options]="couponsTypes" (onChange)="valueIsActive()" formControlName="type"></p-dropdown>
      </div>
      <div class="p-field p-col-4">
        <label for="couponValue">Valor</label>
        <p-inputNumber
          formControlName="value"
          [min]="0"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          placeholder="Valor do desconto do cupom ex: R$10,00 ou 10%"
        ></p-inputNumber>
        <div *ngIf="formFields.getError('required', ['value']) && isFieldInvalid('value')">
          <small class="p-invalid">Insira o valor do cupom</small>
        </div>
        <div class="p-invalid" *ngIf="formFields.getError('min', ['value']) as error">
          <small>O valor minimo do cupom não pode ser menor que 0.01</small>
        </div>
      </div>
      <div class="p-field p-col-4">
        <label for="expirationDate">Data de Expiração</label>
        <p-calendar name="expirationDate" formControlName="expirationDate" dateFormat="dd/mm/yy"></p-calendar>
        <small [hidden]="!isFieldInvalid('expirationDate')" id="expiration-date-help" style="color: #f44336;"
          >A data de expiração não pode ser anterior a data atual</small
        >
      </div>
      <div class="p-field p-col-1">
        <label for="active">Ativo</label>
        <p-inputSwitch id="active" name="active" formControlName="active"></p-inputSwitch>
      </div>
    </div>
  </form>
</p-card>
