<div class="sign-container" *ngIf="!loading">
  <div class="p-grid p-nogutter p-align-center">
    <div class="p-col-12 p-md-6 p-md-offset-3 p-xl-4 p-xl-offset-4 p-col-align-center">
      <div class="sign-in-form">
        <form [formGroup]="formFields" (ngSubmit)="signIn()" *ngIf="!loading">
          <div class="logo">
            Digituz
          </div>
          <div class="ui-fluid">
            <div class="p-field">
              <label for="username">Usuário</label>
              <input
                class="input"
                id="username"
                type="text"
                placeholder="Digite seu e-mail"
                formControlName="username"
                pInputText
              />
            </div>
            <div class="p-field">
              <label for="password">Senha</label>
              <input
                id="password"
                class="input"
                type="password"
                placeholder="Digite sua senha"
                formControlName="password"
                pInputText
              />
            </div>
          </div>
          <div class="sign-in-button-container">
            <button pButton type="submit" icon="pi pi-check" iconPos="left" label="Entrar"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="load" scrolling="no">
  <div class="dgz-table dgz-table-info digituz-loading-set" *ngIf="loading">
    <i class="fal fa-spinner"></i>
    <p>Carregando informações.</p>
  </div>
</div>
