<header>
  <nz-layout>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="dark">
        <div class="logo"><i nz-icon nzType="deployment-unit" nzTheme="outline"></i> Digituz</div>
        <ul nz-menu nzMode="inline" class="sider-menu" nzTheme="dark">
          <li>
            <a title="Início" routerLink="/">
              <i nz-icon nzType="home" nzTheme="outline"></i>
              Início
              <i nz-icon nzType="right" nzTheme="outline"></i>
            </a>
          </li>
          <li>
            <a title="Produtos" routerLink="/products">
              <i nz-icon nzType="gold" nzTheme="outline"></i>
              Produtos
              <i nz-icon nzType="right" nzTheme="outline"></i>
            </a>
          </li>
          <li>
            <a title="Imagens" routerLink="/media-library">
              <i nz-icon nzType="picture" nzTheme="outline"></i>
              Imagens
              <i nz-icon nzType="right" nzTheme="outline"></i>
            </a>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-header>
          <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu">
            <li nz-menu-item (click)="signOut()">Sair</li>
          </ul>
        </nz-header>
        <div class="breadcrumbs-page-title-area">
          <breadcrumbs></breadcrumbs>
          <h1>Lista de Produtos</h1>
        </div>
        <div class="main-content-area">
          <router-outlet></router-outlet>
        </div>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</header>
