.header-menu {
  line-height: 64px;
  float: right;
}

.inner-layout .main-content-area {
  padding: 0 24px 24px;
}

nz-header {
  padding: 0 20px;
  background-color: #fff;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

nz-sider {
  .logo {
    color: #fff;
    opacity: 0.9;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px 0 30px;
    text-align: center;
  }

  ul {
    margin-top: 15px;

    li {
      line-height: 40px;

      a {
        color: inherit;
        display: block;
        padding: 10px 15px;

        i {
          margin-right: 10px;

          &:last-child {
            float: right;
            font-size: 10px;
            line-height: 42px;
          }
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
