<div class="app-layout">
  <div class="logo">
    <span>Digituz</span>
  </div>
  <div class="top-bar">Top Bar</div>
  <div class="menu">
    <ul>
      <li>
        <a title="Início" routerLink="/home">
          <i class="fal fa-home"></i> Painel de Controle <i class="fal fa-chevron-right"></i>
        </a>
      </li>
      <li>
        <a title="Produtos" routerLink="/products">
          <i class="fal fa-cubes"></i> Produtos <i class="fal fa-chevron-right"></i>
        </a>
      </li>
      <li>
        <a title="Estoque" routerLink="/inventory">
          <i class="fal fa-inventory"></i> Estoque <i class="fal fa-chevron-right"></i>
        </a>
      </li>
      <li>
        <a title="Imagens" routerLink="/media-library">
          <i class="fal fa-images"></i> Imagens <i class="fal fa-chevron-right"></i>
        </a>
      </li>
      <li>
        <a title="Vendas" routerLink="/sales-orders">
          <i class="fal fa-piggy-bank"></i> Vendas <i class="fal fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
