<div class="feature-header">
  <p>
    <label>Controle seus fornecedores de forma simplificada.</label>
  </p>
  <div class="actions">
    <a title="Novo Fornecedor" routerLink="/suppliers/new"
      ><button pButton type="button" label="Novo Fornecedor"></button
    ></a>
  </div>
</div>
<dgz-table #supplierTable [dataProvider]="this" name="supplier-list">
  <thead>
    <tr>
      <th dgz-sortable="cnpj">CNPJ</th>
      <th dgz-sortable="name">Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of supplierTable.currentData">
      <td class="centered">{{ supplier.cnpj }}</td>
      <td>{{ supplier.name }}</td>
      <td class="actions">
        <a [title]="'Fornecedores'" [routerLink]="'/suppliers/' + supplier.id"
          ><button pButton type="button" label="Editar"></button
        ></a>
      </td>
    </tr>
  </tbody>
</dgz-table>
