<div class="search-container">
  <form (ngSubmit)="querySupplier()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="query">Pesquisa</label>
        <input id="query" name="query" type="text" [(ngModel)]="query" pInputText />
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>
</div>
<div class="feature-header">
  <p>
    <label>Controle seus fornecedores de forma simplificada.</label>
  </p>
  <div class="actions">
    <button title="Novo Fornecedor" routerLink="/suppliers/new" pButton type="button" label="Novo Fornecedor"></button>
  </div>
</div>
<dgz-table
  #supplierTable
  [dataProvider]="this"
  name="supplier-list"
  [queryParams]="queryParams"
  (updateQueryParams)="updateQueryParams($event)"
>
  <thead>
    <tr>
      <th dgz-sortable="cnpj">CNPJ</th>
      <th dgz-sortable="name">Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of supplierTable.currentData">
      <td class="centered">{{ supplier.cnpj | cnpj }}</td>
      <td>{{ supplier.name }}</td>
      <td class="actions">
        <button
          [title]="'Fornecedores'"
          [routerLink]="'/suppliers/' + supplier.id"
          pButton
          type="button"
          label="Editar"
        ></button>
      </td>
    </tr>
  </tbody>
</dgz-table>
