<div class="sign-container">
  <div class="p-grid p-nogutter">
    <div class="p-col-4 p-offset-4 p-col-align-center">
      <div class="sign-in-form">
        <form [formGroup]="formFields" (ngSubmit)="signIn()" *ngIf="!loading">
          <div class="logo">
            Digituz
          </div>
          <div class="ui-fluid">
            <div class="p-field">
              <label for="username">Usuário</label>
              <input id="username" type="text" placeholder="Digite seu e-mail" formControlName="username" pInputText />
            </div>
            <div class="p-field">
              <label for="password">Senha</label>
              <input id="password" type="text" placeholder="Digite sua senha" formControlName="password" pInputText />
            </div>
          </div>
          <div class="sign-in-button-container">
            <button pButton type="button" icon="pi pi-check" iconPos="left" label="Entrar"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
