.ui-button {
  border-radius: 2px;

  span.ui-button-icon-left {
    font-size: 14px;
  }

  span.ui-button-text {
    padding-right: 10px;
  }
}


.ui-inputtext {
  &.ui-corner-all {
    border-radius: 2px;
  }
}
