body .ui-button {
  background-color: rgb(24, 144, 255);
  border-color: rgb(64, 169, 255);;
  border-radius: 2px;
  font-size: 13px;

  &:enabled:hover,
  &:enabled:focus,
  &:hover,
  &:focus {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }

  .ui-button-text {
    font-size: 13px;
    padding: 7px 15px;
  }

  span.ui-button-icon-left {
    font-size: 12px;
  }
}

p-fileupload {
  .ui-fileupload-buttonbar {
    border-radius: 0;
  }

  .ui-fileupload-content {
    border-radius: 0;
    position: relative;

    .ui-progressbar {
      display: none;
    }

    .uploading {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: rgba(100, 100, 100, 0.3);

      i {
        font-size: 30px;
        margin-bottom: 20px;
        animation: rotation 2s infinite linear;
      }
    }

    .upload-message {
      display: flex;
      flex-direction: column;
      height: 150px;
      justify-content: center;
      align-items: center;

      i {
        font-size: 30px;
        margin-bottom: 20px;
        color: #666;
      }
    }
  }
}

.ui-inputtext {
  &.ui-corner-all {
    border-radius: 1px;
    border-color: #ccc;
    outline: 0;
  }
}

body .ui-inputtext {
  font-size: 13px;
  color: #666;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: none;
  border-color: #ccc;
}

.p-fluid.p-formgrid.p-grid {
  .p-field {
    label {
      display: block;
      width: 100%;
    }

    input {
      width: 100%;
    }

    p-inputswitch > div {
      margin-top: 2px;
    }
  }

  p-dropdown {
    > div {
      width: 100%;
      box-shadow: none;
      border-color: #ccc;
      border-radius: 1px;
    }
  }
}

button.ui-button {
  border-radius: 2px;
  box-shadow: none;
}

body .ui-card {
  box-shadow: none;
  border-radius: 0;

  .ui-card-body {
    padding: 15px;
  }
}
