/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

html,
body,
app-root,
app-shell,
app-header,
header {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #444;
}

textarea {
  resize: vertical;
  border: 1px solid #ddd;
  border-radius: 2px;
  width: 100%;
  height: 200px;
  padding: 5px;
}

.gutter-row {
  margin-bottom: 15px;
}

.form-actions {
  padding: 0 16px !important;
}

.feature-header {
  display: grid;
  grid-template-areas:
    "area-title ."
    "description actions";
  padding: 15px;
  background-color: #fff;

  p {
    grid-area: description;
    display: flex;
    margin: 0;

    label {
      align-self: center;
    }
  }

  div {
    grid-area: actions;
    text-align: right;
  }

  h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    grid-area: area-title;
  }
}

medium-editor {
  div {
    outline-style: none;
  }

  > div {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
  }
}

tbody {
  td.actions {
    text-align: right;
  }

  td.currency {
    text-align: center;
  }
}

table.digituz {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: rgb(250, 250, 250);

    th {
      text-align: center;
      padding-left: 0;
    }
  }

  tbody {
    background-color: #ffffff;
  }

  th,
  td {
    line-height: 40px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
    font-variant: tabular-nums;
    font-weight: 300;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-left: 15px;

    &.centered {
      padding-left: 0;
      text-align: center;
    }

    &:last-child {
      padding-right: 15px;
    }

    &[dgz-sortable] {
      cursor: pointer;

      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }

  td {
    line-height: 50px;
  }
}
