<div class="p-grid">
  <div class="p-col-6">
    <div class="feature-header">
      <p>
        <label>Vendas confirmadas nos últimos 3 dias.</label>
      </p>
    </div>
    <div style="height: 345px; min-height: 345px; background-color: #fff; overflow: scroll;">
      <dgz-table
        #salesOrderTable
        [dataProvider]="this"
        [queryParams]="queryParams"
        name="sales-order-list"
        [showPaginationArea]="false"
      >
        <thead>
          <tr>
            <th>Data</th>
            <th>Cliente</th>
            <th>Cidade/UF</th>
            <th>Envio</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salesOrder of salesOrderTable.currentData">
            <td class="centered">
              <div style="line-height: 20px; display: flex; flex-direction: column; width: 80px">
                {{ salesOrder.approvalDate | date: 'dd/MM'
                }}<small>{{ salesOrder.approvalDate | date: 'HH:mm' }}</small>
              </div>
            </td>
            <td>
              <div style="width: 150px; overflow: scroll; white-space: nowrap">{{ salesOrder.customer.name }}</div>
            </td>
            <td class="centered">
              {{ salesOrder.shipmentDetails.shippingCity }}/{{ salesOrder.shipmentDetails.shippingState }}
            </td>
            <td class="centered">{{ salesOrder.shipmentDetails.shippingType }}</td>
            <td class="currency">{{ salesOrder.paymentDetails.total | reais }}</td>
            <td class="actions">
              <a [routerLink]="'/sales-orders/' + salesOrder.referenceCode">
                <button pButton class="ui-button-secondary" [icon]="'fal fa-edit'" tooltipPosition="top"></button>
              </a>
            </td>
          </tr>
        </tbody>
      </dgz-table>
    </div>
  </div>
  <div class="p-col-6">
    <div class="feature-header">
      <p>
        <label>Vendas confirmadas nos últimos 7 dias.</label>
      </p>
    </div>
    <div style="background-color: #fff;">
      <p-chart height="345" type="bar" [data]="data"></p-chart>
    </div>
  </div>
</div>
