<div class="feature-header">
  <p>
    <label>Atualize os dados do cliente no formulário abaixo.</label>
  </p>
  <div class="actions">
    <app-button-back fallbackURL="/customers"></app-button-back>

    <button (click)="submitCustomer()" pButton type="button" label="Salvar"></button>
  </div>
</div>
<p-card>
  <form [formGroup]="formFields" (ngSubmit)="submitCustomer()" *ngIf="!loading">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="cpf">CPF</label>
        <p-inputMask mask="999.999.999-99" formControlName="cpf" placeholder="ex. 123.456.789-00"></p-inputMask>
        <small [hidden]="!isFieldValid('cpf')" id="cpf-help" style="color: #f44336;">Insira o CPF</small>
      </div>
      <div class="p-field p-col-6">
        <label for="name">Nome</label>
        <input
          id="name"
          name="name"
          type="text"
          formControlName="name"
          pInputText
          placeholder="Ex. Joana Maria da Silva"
        />
        <small [hidden]="!isFieldValid('name')" id="cpf-help" style="color: #f44336;">Insira o Nome</small>
      </div>
      <div class="p-field p-col-6">
        <label for="phoneNumber">Telefone</label>
        <p-inputMask
          mask="(99) 9 9999-9999"
          formControlName="phoneNumber"
          placeholder="ex. (11) 98765-4321"
        ></p-inputMask>
      </div>
      <div class="p-field p-col-6">
        <label for="email">E-mail</label>
        <input
          id="email"
          name="email"
          type="email"
          formControlName="email"
          pInputText
          placeholder="Ex. joanasilva@gmail.com"
        />
        <div *ngIf="formFields.getError('required', ['email']) && isFieldValid('email')">
          <small style="color: #f44336;" id="sku-help">Insira um Email</small>
        </div>
        <div *ngIf="formFields.getError('email', ['email'])">
          <small style="color: #f44336;">Insira um Email valido</small>
        </div>
      </div>
      <div class="p-field p-col-6">
        <label for="birthday">Data de Nascimento</label>
        <p-inputMask mask="99/99/9999" formControlName="birthday" placeholder="Ex. 23/11/1970"></p-inputMask>
        <small [hidden]="!isFieldValid('birthday')" style="color: #f44336;"
          >Insira uma Data Valida(se vazio esse campo não é obrigatorio)</small
        >
      </div>
      <div class="p-field p-col-6">
        <label for="zipAddress">CEP</label>
        <p-inputMask mask="99999-999" formControlName="zipAddress" placeholder="Ex. 01305-000"></p-inputMask>
        <small [hidden]="!isFieldValid('zipAddress')" id="zip-help" style="color: #f44336;">Insira o CEP</small>
      </div>
      <div class="p-field p-col-6">
        <label for="state">UF</label>
        <input id="state" name="state" type="text" formControlName="state" pInputText placeholder="Ex. SP" />
        <small [hidden]="!isFieldValid('state')" id="state-help" style="color: #f44336;">Insira o Estado</small>
      </div>
      <div class="p-field p-col-6">
        <label for="city">Cidade</label>
        <input id="city" name="city" type="text" formControlName="city" pInputText placeholder="Ex. São Paulo" />
        <small [hidden]="!isFieldValid('city')" id="zip-help" style="color: #f44336;">Insira a Cidade</small>
      </div>
      <div class="p-field p-col-6">
        <label for="neighborhood">Bairro</label>
        <input
          id="neighborhood"
          name="neighborhood"
          type="text"
          formControlName="neighborhood"
          pInputText
          placeholder="Ex. Consolação"
        />
        <small [hidden]="!isFieldValid('neighborhood')" id="neighborhood-help" style="color: #f44336;"
          >Insira a Rua</small
        >
      </div>
      <div class="p-field p-col-6">
        <label for="streetAddress">Logradouro</label>
        <input
          id="streetAddress"
          name="streetAddress"
          type="text"
          formControlName="streetAddress"
          pInputText
          placeholder="Ex. Rua Augusta"
        />
        <small [hidden]="!isFieldValid('streetAddress')" id="street-help" style="color: #f44336;"
          >Insira o Bairro</small
        >
      </div>
      <div class="p-field p-col-6">
        <label for="streetNumber">Número</label>
        <input
          id="streetNumber"
          name="streetNumber"
          type="text"
          formControlName="streetNumber"
          pInputText
          placeholder="Ex. 123"
        />
        <small [hidden]="!isFieldValid('streetNumber')" id="streetNumber-help" style="color: #f44336;"
          >Insira o Nº</small
        >
      </div>
      <div class="p-field p-col-6">
        <label for="streetNumber2">Complemento</label>
        <input
          id="streetNumber2"
          name="streetNumber2"
          type="text"
          formControlName="streetNumber2"
          pInputText
          placeholder="Ex. Apto. 403"
        />
      </div>
    </div>
  </form>
</p-card>
