<p-fileUpload
  #uploader
  multiple="multiple"
  customUpload="true"
  chooseLabel="Selecionar Imagens"
  uploadLabel="Enviar Imagens"
  cancelLabel="Cancelar Envio"
  (onClear)="onCancelFileSelection()"
  (onSelect)="onImagesSelected($event)"
  (onRemove)="onImageRemoved($event)"
  (uploadHandler)="uploadFiles($event)"
>
  <ng-template pTemplate="content">
    <div
      class="upload-message"
      *ngIf="(!imagesSelectedForUpload || imagesSelectedForUpload.length === 0) && !isUploading"
    >
      <i class="fal fa-upload"></i>
      <p>Selecione uma ou mais imagens para fazer upload.</p>
    </div>
    <div class="uploading" *ngIf="isUploading">
      <i class="fal fa-spinner"></i>
      <p>Processando suas imagens... Por favor, aguarde.</p>
    </div>
  </ng-template>
</p-fileUpload>

<div class="search-container">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="query">Tags</label>
      <p-autoComplete
        [(ngModel)]="selectedTags"
        [suggestions]="tagsFound"
        (completeMethod)="search($event)"
        [multiple]="true"
        field="label"
      >
        <ng-template let-tag pTemplate="item">
          <div>{{ tag.label }} - {{ tag.description }}</div>
        </ng-template>
      </p-autoComplete>
    </div>
    <div class="p-field p-col-fixed" style="width: 140px;">
      <label>&nbsp;</label>
      <div>
        <button style="width: 100%;" pButton label="Aplicar Tags" (click)="applyTags()"></button>
      </div>
    </div>
  </div>
</div>

<div class="feature-header">
  <p>
    <label>Controle as imagens do seu negócio de forma simplificada.</label>
  </p>
  <div class="buttons-area">
    <div *ngIf="!archived">
      <button pButton class="p-button-secondary" label="Imagens Arquivadas" (click)="showMore(true, true)"></button>
    </div>
    <div *ngIf="archived">
      <button pButton class="p-button-secondary" label="Imagens Disponiveis" (click)="showMore(true, false)"></button>
    </div>
    <div *ngIf="!archived">
      <button
        style="margin-left: 5px;"
        pButton
        class="p-button-danger"
        label="Arquivar"
        [disabled]="selectedImages?.length === 0"
        (click)="archiveImages()"
      ></button>
    </div>
    <div *ngIf="archived">
      <button
        style="margin-left: 5px;"
        pButton
        class="p-button-danger"
        label="Disponibilizar Imagem"
        (click)="archiveImages()"
      ></button>
    </div>
    <button style="margin-left: 5px;" pButton label="Filtrar" (click)="showMore(true)"></button>
  </div>
</div>
<div class="dgz-table dgz-table-info" *ngIf="!loading && images?.length === 0">
  <i class="fal fa-exclamation-circle"></i>
  <p>Nenhuma imagem encontrada.</p>
</div>
<div class="dgz-table dgz-table-info digituz-loading-set" *ngIf="loading">
  <i class="fal fa-spinner"></i>
  <p>Carregando informações.</p>
</div>
<div class="container" *ngIf="!loading && images?.length > 0">
  <div
    class="image-in-gallery"
    *ngFor="let image of images"
    [ngStyle]="{ 'background-image': 'url(' + image.smallFileURL + ')' }"
    [ngClass]="image.selected ? 'selected' : ''"
  >
    <span class="number-of-tags" *ngIf="image.numberOfTags > 0">
      {{ image.numberOfTags }}
    </span>
    <span class="select" (click)="selectImage(image)" *ngIf="!image.selected">
      <i class="fal fa-square"></i>
    </span>
    <span class="deselect" (click)="deselectImage(image)" *ngIf="image.selected">
      <i class="fal fa-check-square"></i>
    </span>
    <span class="look" (click)="showLargeImage(image)">
      <i class="fal fa-search"></i>
    </span>
  </div>
</div>
<div class="showMore" *ngIf="!archived">
  <button pButton label="Mostrar mais" (click)="showMore()"></button>
</div>
<div class="showMore" *ngIf="archived">
  <button pButton label="Mostrar mais" (click)="showMore(false, true)"></button>
</div>

<p-dialog
  [header]="modalTitle"
  [(visible)]="isModalVisible"
  [dismissableMask]="true"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  (onHide)="clearModal()"
>
  <div class="img-container">
    <img [src]="modalImage" [alt]="modalTitle" />
  </div>
  <div class="image-tags">
    <div *ngIf="!selectedImage"><i class="fal fa-spinner"></i> Carregando tags...</div>
    <div class="tags-container" *ngIf="selectedImage">
      <div *ngIf="!selectedImage.tags || selectedImage.tags.length === 0">Imagem sem tags atribuídas.</div>
      <div class="tag" *ngFor="let tag of selectedImage?.tags" (click)="removeTag(tag)">
        <span>{{ tag.label }}<i class="fal fa-times"></i></span>
      </div>
    </div>
  </div>
</p-dialog>
