<div class="search-container">
  <form (ngSubmit)="querySupplier()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="query">Pesquisa</label>
        <input id="query" name="query" type="text" [(ngModel)]="query" pInputText />
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>
</div>
<div class="feature-header">
  <p>
    <label>Controle seus fornecedores de forma simplificada.</label>
  </p>
  <div class="actions">
    <a title="Novo Fornecedor" routerLink="/purchase-orders/new"
      ><button pButton type="button" label="Novo Fornecedor"></button
    ></a>
  </div>
</div>
<dgz-table
  #purchaseOrderTable
  [dataProvider]="this"
  name="purchase-order-list"
  [queryParams]="queryParams"
  (updateQueryParams)="updateQueryParams($event)"
>
  <thead>
    <tr>
      <th dgz-sortable="referenceCode">Código</th>
      <th dgz-sortable="creationDate">Data de criação</th>
      <th dgz-sortable="discount">Desconto</th>
      <th dgz-sortable="shippingPrice">Taxa de Entrega</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let purchaseOrder of purchaseOrderTable.currentData">
      <td class="centered">{{ purchaseOrder.referenceCode }}</td>
      <td class="centered">{{ purchaseOrder.creationDate | date }}</td>
      <td class="centered">{{ purchaseOrder.discount }}</td>
      <td class="centered">{{ purchaseOrder.shippingPrice }}</td>
      <td class="actions">
        <a [title]="'Fornecedores'" [routerLink]="'/purchase-orders/' + purchaseOrder.id"
          ><button pButton type="button" label="Editar"></button
        ></a>
      </td>
    </tr>
  </tbody>
</dgz-table>
