<div class="search-container">
  <form (ngSubmit)="querySupplier()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="query">Pesquisa</label>
        <input id="query" name="query" type="text" [(ngModel)]="query" pInputText />
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <button pButton type="submit" label="Pesquisar"></button>
        <button
          pButton
          type="submit"
          class="p-button-secondary"
          (click)="resetFilter()"
          label="Limpar Filtros"
        ></button>
      </div>
    </div>
  </form>
</div>
<div class="feature-header">
  <p>
    <label>Controle suas compras de forma simplificada.</label>
  </p>
  <div class="actions">
    <button
      title="Novo Pedido de Compra"
      routerLink="/purchase-orders/new"
      pButton
      type="button"
      label="Novo Pedido de Compra"
    ></button>
  </div>
</div>
<dgz-table
  #purchaseOrderTable
  [dataProvider]="this"
  name="purchase-order-list"
  [queryParams]="queryParams"
  (updateQueryParams)="updateQueryParams($event)"
>
  <thead>
    <tr>
      <th dgz-sortable="creationDate">Data de criação</th>
      <th dgz-sortable="referenceCode">Código de Referência</th>
      <th dgz-sortable="supplier">Fornecedor</th>
      <th dgz-sortable="total">Total</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let purchaseOrder of purchaseOrderTable.currentData">
      <td class="centered">{{ purchaseOrder.creationDate | date }}</td>
      <td class="centered">{{ purchaseOrder.referenceCode }}</td>
      <td class="">{{ purchaseOrder.supplier.name }}</td>
      <td class="centered">{{ purchaseOrder.total | reais }}</td>
      <td class="centered">
        <div
          class="badge"
          [ngClass]="
            (purchaseOrder.status === 'COMPLETED' && 'success') || (purchaseOrder.status === 'CANCELLED' && 'failure')
          "
        >
          <i
            class="fal fa-check"
            *ngIf="purchaseOrder.status === 'COMPLETED'"
            pTooltip="Pagamento aprovado"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-times"
            *ngIf="purchaseOrder.status === 'CANCELLED'"
            pTooltip="Pagamento cancelado"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-sync"
            *ngIf="purchaseOrder.status === 'IN_PROCESS'"
            pTooltip="Pagamento em processamento"
            tooltipPosition="top"
          ></i>
        </div>
      </td>
      <td class="actions">
        <button
          [title]="'Fornecedores'"
          [routerLink]="'/purchase-orders/' + purchaseOrder.id"
          pButton
          type="button"
          label="Editar"
        ></button>
      </td>
    </tr>
  </tbody>
</dgz-table>
