<div class="feature-header">
  <p>
    <label>Controle os seus produtos de forma simplificada.</label>
  </p>
  <div class="actions">
    <a title="Novo Produto" routerLink="/products/new"><button nz-button nzType="primary">Novo Produto</button></a>
  </div>
</div>
<dgz-table #productsTable [dataProvider]="this">
  <thead>
    <tr>
      <th sortable="sku">SKU</th>
      <th sortable="title">Título</th>
      <th sortable="sellingPrice">Preço</th>
      <th sortable="productVariations" class="centered">Variações</th>
      <th sortable="isActive" class="centered">Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsTable.currentData">
      <td>{{ product.sku }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.sellingPrice }}</td>
      <td class="centered">{{ product.productVariations.length || "" }}</td>
      <td class="centered">
        <i nz-icon style="color: green" nzType="check" nzTheme="outline" *ngIf="product.isActive"></i>
        <i nz-icon style="color: red" nzType="close" nzTheme="outline" *ngIf="!product.isActive"></i>
      </td>
      <td class="actions">
        <a [title]="'Início'" [routerLink]="'/products/' + product.sku"><button nz-button>Editar</button></a>
      </td>
    </tr>
  </tbody>
</dgz-table>
