<div class="search-container">
</div>
<div class="feature-header">
  <p>
    <label>Controle os seus produtos de forma simplificada.</label>
  </p>
  <div class="actions">
    <a title="Novo Produto" routerLink="/products/new"><button>Novo Produto</button></a>
  </div>
</div>
<dgz-table #productsTable [dataProvider]="this" [queryParams]="queryParams">
  <thead>
    <tr>
      <th dgz-sortable="sku">SKU</th>
      <th dgz-sortable="title">Título</th>
      <th dgz-sortable="sellingPrice">Preço</th>
      <th dgz-sortable="productVariations" class="centered">Variações</th>
      <th dgz-sortable="isActive" class="centered">Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsTable.currentData">
      <td>{{ product.sku }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.sellingPrice | reais }}</td>
      <td class="centered">{{ product.productVariations.length || '' }}</td>
      <td class="centered">
      </td>
      <td class="actions">
        <a [title]="'Início'" [routerLink]="'/products/' + product.sku"><button>Editar</button></a>
      </td>
    </tr>
  </tbody>
</dgz-table>
