<div class="search-container">
  <form nz-form (ngSubmit)="queryProducts()">
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-label nzFor="query">Pesquisa</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            name="query"
            id="query"
            placeholder="Pesquise por SKU, título, ou descrição."
            [(ngModel)]="query" name="name"
          />
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-form-label nzFor="isActive">Status</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="isActive" name="isActive" nzPlaceHolder="Todos" nzAllowClear>
            <nz-option [nzValue]="true" nzLabel="Ativos"></nz-option>
            <nz-option [nzValue]="false" nzLabel="Inativos"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-form-label nzFor="withVariations">Variações</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="withVariations" name="withVariations" nzPlaceHolder="Todos" nzAllowClear>
            <nz-option [nzValue]="true" nzLabel="Com Variações"></nz-option>
            <nz-option [nzValue]="false" nzLabel="Sem Variações"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>
    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="4" style="padding-left: 9px;">
        <button nz-button nzType="primary" style="margin-right: 9px;">Pesquisar</button>
      </div>
    </div>
  </form>
</div>
<div class="feature-header">
  <p>
    <label>Controle os seus produtos de forma simplificada.</label>
  </p>
  <div class="actions">
    <a title="Novo Produto" routerLink="/products/new"><button nz-button nzType="primary">Novo Produto</button></a>
  </div>
</div>
<dgz-table #productsTable [dataProvider]="this" [queryParams]="queryParams">
  <thead>
    <tr>
      <th dgz-sortable="sku">SKU</th>
      <th dgz-sortable="title">Título</th>
      <th dgz-sortable="sellingPrice">Preço</th>
      <th dgz-sortable="productVariations" class="centered">Variações</th>
      <th dgz-sortable="isActive" class="centered">Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsTable.currentData">
      <td>{{ product.sku }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.sellingPrice }}</td>
      <td class="centered">{{ product.productVariations.length || '' }}</td>
      <td class="centered">
        <i nz-icon style="color: green;" nzType="check" nzTheme="outline" *ngIf="product.isActive"></i>
        <i nz-icon style="color: red;" nzType="close" nzTheme="outline" *ngIf="!product.isActive"></i>
      </td>
      <td class="actions">
        <a [title]="'Início'" [routerLink]="'/products/' + product.sku"><button nz-button>Editar</button></a>
      </td>
    </tr>
  </tbody>
</dgz-table>
