<div class="search-container">
  <form (ngSubmit)="queryInventory()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="query">Pesquisa</label>
        <input id="query" name="query" type="text" [(ngModel)]="query" pInputText />
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <button pButton type="submit" label="Pesquisar"></button>
        <button
          pButton
          type="submit"
          class="p-button-secondary"
          (click)="resetFilter()"
          label="Limpar Filtros"
        ></button>
      </div>
    </div>
  </form>
</div>
<div class="feature-header">
  <p>
    <label>Controle o estoque dos seus produtos.</label>
  </p>
  <div class="actions">
    <button pButton class="p-button-secondary" type="button" label="Gerar Relátorio" (click)="xlsExport()"></button>
    <button pButton type="button" label="Nova Movimentação" (click)="openMovementDialog()"></button>
  </div>
</div>
<dgz-table
  #inventoryTable
  [dataProvider]="this"
  [queryParams]="queryParams"
  (updateQueryParams)="updateQueryParams($event)"
  name="inventory-list"
>
  <thead>
    <tr>
      <th></th>
      <th dgz-sortable="sku">SKU</th>
      <th dgz-sortable="title">Título</th>
      <th dgz-sortable="currentPosition">Estoque</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inventory of inventoryTable.currentData">
      <td class="thumbnail">
        <div>
          <i *ngIf="!inventory.productVariationDetails.thumbnail" class="fal fa-images"></i>
          <div class="square" *ngIf="inventory.productVariationDetails.thumbnail">
            <img [src]="inventory.productVariationDetails.thumbnail" [alt]="inventory.productVariationDetails.title" />
          </div>
        </div>
      </td>
      <td class="centered">{{ inventory.productVariationDetails.sku }}</td>
      <td>{{ inventory.productVariationDetails.title }}</td>
      <td class="currency">{{ inventory.currentPosition }}</td>
      <td class="actions">
        <button [routerLink]="'/inventory/' + inventory.id" pButton type="button" label="Detalhes"></button>
      </td>
    </tr>
  </tbody>
</dgz-table>
<app-move-inventory-dialog #movementDialog (onComplete)="queryInventory()"></app-move-inventory-dialog>
