<div class="search-container">
  <form (ngSubmit)="queryProducts()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="query">Pesquisa</label>
        <input id="query" name="query" type="text" [(ngModel)]="query" pInputText />
      </div>
      <div class="p-field p-col">
        <label for="isActive">Ativos</label>
        <p-dropdown name="isActive" [options]="isActiveOptions" [(ngModel)]="isActive" optionLabel="label"></p-dropdown>
      </div>
      <div class="p-field p-col">
        <label for="withVariations">Variações</label>
        <p-dropdown
          name="withVariations"
          [options]="withVariationsOptions"
          [(ngModel)]="withVariations"
          optionLabel="label"
        ></p-dropdown>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>
</div>
<div class="feature-header">
  <p>
    <label>Controle os seus produtos de forma simplificada.</label>
  </p>
  <div class="actions">
    <a title="Novo Produto" routerLink="/products/new"><button pButton type="button" label="Novo Produto"></button></a>
  </div>
</div>
<dgz-table
  #productsTable
  [dataProvider]="this"
  [queryParams]="queryParams"
  (updateQueryParams)="updateQueryParams($event)"
  name="product-list"
>
  <thead>
    <tr>
      <th></th>
      <th dgz-sortable="sku">SKU</th>
      <th dgz-sortable="title">Título</th>
      <th dgz-sortable="sellingPrice">Preço</th>
      <th dgz-sortable="productVariations">Variações</th>
      <th dgz-sortable="isActive">Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsTable.currentData">
      <td class="thumbnail">
        <div>
          <i *ngIf="!product.thumbnail" class="fal fa-images"></i>
          <div class="square" *ngIf="product.thumbnail">
            <img [src]="product.thumbnail" [alt]="product.title" />
          </div>
        </div>
      </td>
      <td class="centered">{{ product.sku }}</td>
      <td>{{ product.title }}</td>
      <td class="currency">{{ product.sellingPrice | reais }}</td>
      <td class="centered">
        <div *ngIf="product.productVariations.length > 1">
          {{ product.productVariations.length }}
        </div>
      </td>
      <td class="centered">
        <i class="fal fa-check" style="color: #67c167;" *ngIf="product.isActive"></i>
        <i class="fal fa-times" style="color: #df6666;" *ngIf="!product.isActive"></i>
      </td>
      <td class="actions">
        <a [title]="'Início'" [routerLink]="'/products/' + product.sku"
          ><button pButton type="button" label="Editar"></button
        ></a>
      </td>
    </tr>
  </tbody>
</dgz-table>
