table {
  width: 100%;
}

:host ::ng-deep{
  thead {
    background-color: rgb(250, 250, 250);
  }

  tbody {
    background-color: #ffffff;
  }

  th, td {
    line-height: 40px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
    font-variant: tabular-nums;
    font-weight: 500;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-left: 15px;

    &.centered {
      padding-left: 0;
      text-align: center;
    }

    &:last-child {
      padding-right: 15px;
    }

    &[sortable] {
      cursor: pointer;

      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }

  td {
    line-height: 50px;
  }
}

div.pagination-area {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}
