<table class="digituz" (click)="sortTable($event.target)">
  <ng-content select="thead"></ng-content>
  <ng-content select="tbody" *ngIf="!loading"></ng-content>
</table>
<div class="dgz-table dgz-table-info digituz-loading-set" *ngIf="loading">
  <i class="fal fa-spinner"></i>
  <p>Carregando informações.</p>
</div>
<div class="dgz-table dgz-table-info" *ngIf="!loading && currentData.length === 0">
  <i class="fal fa-exclamation-circle"></i>
  <p>Nenhum resultado encontrado.</p>
</div>
<div class="pagination-area" *ngIf="!loading && currentData.length > 0">
  <button (click)="nextPage()" [disabled]="currentPage >= numberOfPages"><p>»</p></button>
  <button (click)="previousPage()" [disabled]="currentPage === 1"><p>«</p></button>
  <p>Página {{ currentPage }} de {{ numberOfPages }}</p>
</div>
