<div
  *ngIf="isModalVisible"
  [ngClass]="{
    success: showComplete === true,
    failed: showComplete === false
  }"
></div>
<button
  pButton
  type="button"
  [ngClass]="{
    'p-button-primary': buttonStyle === 'primary',
    'p-button-success': buttonStyle === 'success',
    'p-button-secondary': buttonStyle === 'secondary',
    'p-button-info': buttonStyle === 'info',
    'p-button-warning': buttonStyle === 'warning',
    'p-button-help': buttonStyle === 'help',
    'p-button-danger': buttonStyle === 'danger'
  }"
  [label]="buttonLabel"
  (click)="onClick()"
></button>
