@keyframes completeBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

div {
  width: 0px;
  height: 5px;
  background: #1890ff;
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: completeBar;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.success {
  background-color: #45aa50;
}

.failed {
  background-color: #f44336;
}
