<div class="feature-header">
  <p>
    <label>Atualize os dados do seu produto no formulário abaixo.</label>
  </p>
  <div class="actions">
    <app-button-back fallbackURL="/products"></app-button-back>
    <button (click)="submitProductDetails()" pButton type="button" label="Salvar"></button>
  </div>
</div>
<p-card>
  <form [formGroup]="formFields" (ngSubmit)="submitProductDetails()" *ngIf="!loading">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="sku">SKU</label>
        <input
          id="sku"
          name="sku"
          type="text"
          formControlName="sku"
          pInputText
          placeholder="SKU do seu produto"
          pTooltip="Depois de salvo, o SKU não pode ser alterado."
          tooltipPosition="top"
        />
        <div *ngIf="formFields.getError('required', ['sku']) && isFieldValid('sku')">
          <small id="sku-help" class="p-invalid">Insira um SKU</small>
        </div>
        <div class="p-invalid" *ngIf="formFields.getError('existingSku', ['sku']) as error">
          <small>{{ error.message }}</small>
        </div>
      </div>
      <div class="p-field p-col">
        <label for="ncm">NCM</label>
        <input id="ncm" name="ncm" type="text" formControlName="ncm" pInputText placeholder="Ex. 1234.12.34" />
        <small [hidden]="!isFieldValid('ncm')" id="ncm-help" class="p-invalid">Insira o NCM</small>
      </div>
      <div class="p-field p-col">
        <label for="productActive">Ativo</label>
        <p-inputSwitch id="productActive" name="productActive" formControlName="isActive"></p-inputSwitch>
      </div>
      <div class="p-field p-col-6">
        <label for="title">Título</label>
        <input
          id="title"
          name="title"
          type="text"
          formControlName="title"
          pInputText
          placeholder="Título do seu produto"
        />
        <small [hidden]="!isFieldValid('title')" id="title-help" class="p-invalid">Insira o título do produto</small>
      </div>
      <div class="p-field p-col">
        <label for="sellingPrice">Preço mínimo</label>
        <p-inputNumber
          id="sellingPrice"
          name="sellingPrice"
          formControlName="sellingPrice"
          currency="BRL"
          mode="currency"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          placeholder="ex. R$ 10,00"
          tooltipPosition="top"
          pTooltip="Defina o preço do produto através das variações."
        ></p-inputNumber>
      </div>
      <div class="p-field p-col">
        <label for="sellingPrice">Categoria</label>
        <p-dropdown
          [options]="categories"
          formControlName="category"
          placeholder="Selecione uma categoria"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="p-field p-col-6">
        <label for="height">Altura do Produto (cm)</label>
        <input
          id="height"
          name="height"
          type="text"
          formControlName="height"
          pInputText
          placeholder="Altura do produto em centímetros"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="width">Largura do Produto (cm)</label>
        <input
          id="width"
          name="width"
          type="text"
          formControlName="width"
          pInputText
          placeholder="Largura do produto em centímetros"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="length">Comprimento do Produto (cm)</label>
        <input
          id="length"
          name="length"
          type="text"
          formControlName="length"
          pInputText
          placeholder="Comprimento do produto em centímetros"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="weight">Peso do Produto (kg)</label>
        <input
          id="weight"
          name="weight"
          type="text"
          formControlName="weight"
          pInputText
          placeholder="Peso do produto em quilogramas (kg)"
        />
      </div>
      <div class="p-field p-col-12">
        <label for="description">Descrição Curta</label>
        <input
          id="description"
          name="description"
          type="text"
          formControlName="description"
          pInputText
          placeholder="Descrição curta do produto"
        />
        <small [hidden]="!isFieldValid('description')" id="description-help" class="p-invalid"
          >Insira a descrição curta do produto</small
        >
      </div>
      <div class="p-field p-col-12">
        <label for="description">Descrição Detalhada</label>
        <medium-editor [(editorModel)]="productDetails" placeholder="Descreva seu produto em detalhes."></medium-editor>
      </div>
    </div>
  </form>
</p-card>

<dgz-product-images
  [product]="product"
  (imagesSelected)="imagesSelected($event)"
  *ngIf="!!product"
></dgz-product-images>

<div class="feature-header" style="margin-top: 30px;">
  <h2>Variações do Produto</h2>
  <p>
    <label>A tabela abaixo mostra as variações do produto em questão.</label>
  </p>
  <div class="actions">
    <button pButton type="button" (click)="newProductVariation()" label="Nova Variação"></button>
  </div>
</div>
<table class="digituz">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Título</th>
      <th>Preço</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let variation of variations">
      <td>{{ variation.sku }}</td>
      <td>{{ variation.description }}</td>
      <td class="currency">{{ variation.sellingPrice | reais }}</td>
      <td class="actions">
        <button pButton type="button" (click)="editProductVariation(variation)" label="Editar"></button>
      </td>
    </tr>
    <tr *ngIf="!variations || variations.length === 0">
      <td colspan="4">
        <div class="no-data-container">
          <i class="fal fa-inbox"></i>
          <p>Produto sem variações cadastradas.</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="feature-header" style="margin-top: 30px;">
  <h2>Composição do Produto</h2>
  <p>
    <label
      >Caso esse produto seja composto, utilize esta área para indicar quais os produtos fazem parte do mesmo.</label
    >
  </p>
  <div class="actions">
    <button pButton type="button" (click)="newItemOnComposition()" label="Adicionar Item"></button>
  </div>
</div>
<table class="digituz">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Título</th>
      <th>Preço</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of product?.productComposition">
      <td>{{ item.productVariation.sku }}</td>
      <td>{{ item.productVariation.product.title }}</td>
      <td class="currency">{{ item.productVariation.sellingPrice | reais }}</td>
      <td class="actions">
        <button
          pButton
          type="button"
          class="ui-button-danger"
          icon="fal fa-trash"
          (click)="removeItemFromComposition(item)"
        ></button>
      </td>
    </tr>
    <tr *ngIf="!product || !product.productComposition || product.productComposition.length === 0">
      <td colspan="4">
        <div class="no-data-container">
          <i class="fal fa-inbox"></i>
          <p>Produto simples</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<p-dialog
  header="Variação do Produto"
  [(visible)]="isModalVisible"
  [dismissableMask]="true"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
>
  <form nz-form [formGroup]="formFieldsVariation" (ngSubmit)="submitVariation()" *ngIf="isModalVisible">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="variationSku">SKU</label>
        <input
          pInputText
          name="variationSku"
          id="variationSku"
          placeholder="SKU da variação"
          formControlName="skuVariation"
          aria-describedby="sku-variation-help"
        />
        <div
          *ngIf="formFieldsVariation.getError('required', ['skuVariation']) && isFieldVariationValid('skuVariation')"
        >
          <small id="sku-variation-help" class="p-invalid">Insira um SKU para a variação</small>
        </div>
        <div class="p-invalid" *ngIf="formFieldsVariation.getError('existingSku', ['skuVariation']) as error">
          <small>{{ error.message }}</small>
        </div>
      </div>
      <div class="p-field p-col-12">
        <label for="variationDescription">Descrição</label>
        <input
          pInputText
          name="variationDescription"
          id="variationDescription"
          placeholder="Descrição da variação"
          formControlName="descriptionVariation"
          aria-describedby="description-variation-help"
        />
        <small
          [hidden]="!isFieldVariationValid('descriptionVariation')"
          id="description-variation-help"
          class="p-invalid"
          >Insira a descrição da variação</small
        >
      </div>
      <div class="p-field p-col-12">
        <label for="variationSellingPrice">Preço de Venda</label>
        <p-inputNumber
          id="variationSellingPrice"
          name="variationSellingPrice"
          formControlName="sellingPriceVariation"
          currency="BRL"
          mode="currency"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          placeholder="ex. R$ 10,00"
          aria-describedby="selleing-price-variation-help"
        ></p-inputNumber>
        <small
          [hidden]="!isFieldVariationValid('sellingPriceVariation')"
          id="selleing-price-variation-help"
          class="p-invalid"
          >Insira o preço da variação produto</small
        >
      </div>
    </div>
  </form>
  <p-footer>
    <button pButton type="button" class="ui-button-secondary" (click)="handleCancel()" label="Cancelar"></button>
    <button
      pButton
      type="button"
      class="ui-button-danger"
      (click)="removeVariation()"
      *ngIf="showRemoveButton"
      label="Remover"
    ></button>
    <button pButton type="button" class="ui-button-primary" (click)="submitVariation()" label="Salvar"></button>
  </p-footer>
</p-dialog>
<app-product-composition #productCompositionComponent (onItemChosen)="onItemChosen($event)"></app-product-composition>
