@import "primeng-customization/p-autocomplete";
@import "primeng-customization/p-button";
@import "primeng-customization/p-checkbox";
@import "primeng-customization/p-confirm-dialog";
@import "primeng-customization/p-fileupload";
@import "primeng-customization/p-inputnumber";
@import "primeng-customization/p-toast";
@import "../theme/theme-variables.scss";

body .ui-state-disabled,
body .ui-widget:disabled {
  opacity: 0.7;
}

p-fileupload {
  .ui-fileupload-buttonbar {
    border-radius: 0;
  }

  .ui-fileupload-content {
    border-radius: 0;
    position: relative;

    .ui-progressbar {
      display: none;
    }

    .uploading {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: rgba(100, 100, 100, 0.3);

      i {
        font-size: 30px;
        margin-bottom: 20px;
        animation: rotation 2s infinite linear;
      }
    }

    .upload-message {
      display: flex;
      flex-direction: column;
      height: 150px;
      justify-content: center;
      align-items: center;

      i {
        font-size: 30px;
        margin-bottom: 20px;
        color: #666;
      }
    }
  }
}

.p-inputtext {
  border-radius: 1px;
  border-color: #ccc;
  color: $color;

  &:enabled:hover {
    border-color: #767676;
  }
}

body .ui-inputtext {
  font-size: $font-size;
  color: #666;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: none;
  border-color: #ccc;
}

.p-fluid.p-formgrid.p-grid {
  .p-field {
    label {
      display: block;
      width: 100%;
      color: $color;
    }

    input {
      width: 100%;
    }

    p-inputswitch > div {
      margin-top: 2px;
    }
  }

  p-dropdown {
    > div {
      width: 100%;
      box-shadow: none;
      border-color: #ccc;
      border-radius: 1px;
    }
  }
}

body .ui-card {
  box-shadow: none;
  border-radius: 0;

  .ui-card-body {
    padding: 15px;
  }
}

body .ui-inputgroup .ui-button:last-child {
  border-radius: 1px;
  padding: 0 5px;
  margin-left: -10px;
  font-size: 8px;
  border: none;
}
