<div class="form-error" *ngIf="formSubmitted && !formFields.valid">
  <p>Por favor, verifique:</p>
  <ul>
    <li>os campos obrigatórios (com asterísco)</li>
    <li>e se você adicionou um ou mais itens ao pedido.</li>
  </ul>
</div>
<div class="feature-header">
  <p>
    <label>
      {{
        !!salesOrder.blingStatus
          ? 'O formulário da venda está bloqueado pois a mesma já se encontra sincronizada com o Bling.'
          : 'Atualize o pedido de venda através do formulário abaixo.'
      }}
    </label>
  </p>
  <div class="actions">
    <a routerLink="/sales-orders"><button pButton type="button" class="ui-button-secondary" label="Voltar"></button></a>
    <button
      (click)="submitSalesOrder()"
      pButton
      type="button"
      label="Salvar"
      [disabled]="!!salesOrder.blingStatus"
    ></button>
  </div>
</div>
<p-card>
  <form [formGroup]="formFields" (ngSubmit)="submitSalesOrder()" *ngIf="!loading">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label class="input-label" for="name">Cliente <i class="fal fa-asterisk"></i></label>
        <p-autoComplete
          id="customer"
          name="customer"
          formControlName="customer"
          [suggestions]="customers"
          (completeMethod)="search($event)"
          [multiple]="false"
          field="name"
          placeholder="Selecione um cliente"
        >
          <ng-template let-customer pTemplate="item">
            <div>{{ customer.name }} ({{ customer.cpf }})</div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="p-field p-col-3">
        <label class="input-label" for="referenceCode">Referência <i class="fal fa-asterisk"></i></label>
        <input
          id="referenceCode"
          name="referenceCode"
          type="text"
          formControlName="referenceCode"
          pInputText
          placeholder="ex. 123456789"
          required="true"
          maxlength="36"
        />
      </div>
      <div class="p-field p-col-3">
        <label for="total">Total</label>
        <p-inputNumber
          id="total"
          name="total"
          formControlName="total"
          currency="BRL"
          mode="currency"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          placeholder="ex. R$ 10,00"
        ></p-inputNumber>
      </div>
      <div class="p-field p-col-3">
        <label class="input-label" for="paymentType">Forma de Pagamento <i class="fal fa-asterisk"></i></label>
        <p-dropdown
          id="paymentType"
          name="paymentType"
          [options]="paymentTypes"
          formControlName="paymentType"
          placeholder="Selecione uma forma de pagamento"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="p-field p-col-3">
        <label class="input-label" for="paymentStatus">Status de Pagamento <i class="fal fa-asterisk"></i></label>
        <p-dropdown
          id="paymentStatus"
          name="paymentStatus"
          [options]="paymentStatus"
          formControlName="paymentStatus"
          placeholder="Selecione um status de pagamento"
          [showClear]="true"
        ></p-dropdown>
      </div>
      <div class="p-field p-col-3">
        <label class="input-label" for="installments">Parcelas <i class="fal fa-asterisk"></i></label>
        <p-dropdown [options]="installments" formControlName="installments"></p-dropdown>
      </div>
      <div class="p-field p-col-3">
        <label class="input-label" for="discount">Desconto (R$) <i class="fal fa-asterisk"></i></label>
        <p-inputNumber
          id="discount"
          name="discount"
          formControlName="discount"
          currency="BRL"
          mode="currency"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          (onBlur)="updatePrice()"
          placeholder="ex. R$ 10,00"
        ></p-inputNumber>
      </div>
    </div>
  </form>
</p-card>
<div style="margin-top: 20px;">
  <p-card>
    <div class="product-variation-description">
      <p>Selecione os produtos a serem vendidos.</p>
      <button pButton label="Adicionar Item" (click)="addItem()" [disabled]="!!salesOrder.blingStatus"></button>
    </div>
    <form [formGroup]="formFields" (ngSubmit)="submitSalesOrder()" *ngIf="!loading">
      <div class="p-fluid p-grid">
        <div class="p-col-5">
          <label class="input-label">Produto <i class="fal fa-asterisk"></i></label>
        </div>
        <div class="p-col-2">
          <label class="input-label">Preço <i class="fal fa-asterisk"></i></label>
        </div>
        <div class="p-col-2">
          <label class="input-label">Desconto (R$) <i class="fal fa-asterisk"></i></label>
        </div>
        <div class="p-col-2">
          <label class="input-label">Quantidade <i class="fal fa-asterisk"></i></label>
        </div>
      </div>
      <div formArrayName="items" *ngFor="let item of items.controls; let i = index">
        <div [formGroupName]="i" class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-5">
            <p-autoComplete
              formControlName="productVariation"
              [suggestions]="productVariations"
              (completeMethod)="searchProductVariations($event)"
              (onSelect)="selectProductVariation($event, i)"
              [multiple]="false"
              field="completeDescription"
              placeholder="Selecione um produto"
            >
              <ng-template let-productVariation pTemplate="item">
                <div>{{ productVariation.sku }} - {{ productVariation.title }}</div>
              </ng-template>
            </p-autoComplete>
          </div>
          <div class="p-field p-col-2">
            <input
              type="text"
              placeholder="Ex. R$ 119,90"
              pInputText
              disabled
              [value]="item.get('price').value || 0 | reais"
            />
          </div>
          <div class="p-field p-col-2">
            <p-inputNumber
              [id]="'discount' + i"
              [name]="'discount' + i"
              formControlName="discount"
              currency="BRL"
              mode="currency"
              locale="pt-BR"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              (onBlur)="updatePrice()"
              placeholder="ex. R$ 10,00"
            ></p-inputNumber>
          </div>
          <div class="p-field p-col-2">
            <input
              [name]="'amount' + i"
              type="number"
              formControlName="amount"
              pInputText
              placeholder="ex. 3"
              (change)="updatePrice()"
            />
          </div>
          <div class="p-field p-col-1">
            <button
              pButton
              icon="fal fa-trash"
              class="ui-button-danger"
              style="width: 100%;"
              pTooltip="Remover item"
              (click)="removeItem(i)"
              [disabled]="!!salesOrder.blingStatus"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </p-card>
</div>
<div style="margin-top: 20px;">
  <p-card>
    <div class="product-variation-description">
      <p>Informe os detalhes sobre a entrega.</p>
    </div>
    <form [formGroup]="formFields" (ngSubmit)="submitSalesOrder()" *ngIf="!loading">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3">
          <label class="input-label" for="name">Forma de Envio <i class="fal fa-asterisk"></i></label>
          <p-dropdown
            id="name"
            name="name"
            [options]="shippingTypes"
            formControlName="shippingType"
            placeholder="Selecione uma forma de envio"
            [showClear]="true"
          ></p-dropdown>
        </div>
        <div class="p-field p-col-3">
          <label class="input-label" for="shippingPrice">Frete (R$) <i class="fal fa-asterisk"></i></label>
          <p-inputNumber
            id="shippingPrice"
            name="shippingPrice"
            formControlName="shippingPrice"
            currency="BRL"
            mode="currency"
            locale="pt-BR"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            (onBlur)="updatePrice()"
          ></p-inputNumber>
        </div>
        <div class="p-field p-col-6">
          <label class="input-label" for="customerName">Destinatário <i class="fal fa-asterisk"></i></label>
          <input
            name="customerName"
            type="text"
            formControlName="customerName"
            pInputText
            placeholder="ex. Maria da Silva"
          />
        </div>
        <div class="p-field p-col-2">
          <label class="input-label" for="shippingZipAddress">CEP <i class="fal fa-asterisk"></i></label>
          <div class="ui-inputgroup">
            <input
              type="text"
              pInputText
              placeholder="ex. 01305-000"
              name="shippingZipAddress"
              formControlName="shippingZipAddress"
            />
            <button
              pButton
              type="button"
              icon="fal fa-search"
              (click)="loadAddress()"
              [disabled]="!!salesOrder.blingStatus"
            ></button>
          </div>
        </div>
        <div class="p-field p-col-2">
          <label class="input-label" for="shippingCity">Cidade <i class="fal fa-asterisk"></i></label>
          <input
            name="shippingCity"
            type="text"
            formControlName="shippingCity"
            pInputText
            placeholder="ex. São Paulo"
          />
        </div>
        <div class="p-field p-col-2">
          <label class="input-label" for="shippingState">Estado <i class="fal fa-asterisk"></i></label>
          <input name="shippingState" type="text" formControlName="shippingState" pInputText placeholder="ex. SP" />
        </div>
        <div class="p-field p-col-6">
          <label class="input-label" for="shippingStreetAddress">Logradouro <i class="fal fa-asterisk"></i></label>
          <input
            name="shippingStreetAddress"
            type="text"
            formControlName="shippingStreetAddress"
            pInputText
            placeholder="ex. Av. Paulista"
          />
        </div>
        <div class="p-field p-col-2">
          <label class="input-label" for="shippingStreetNumber">Número <i class="fal fa-asterisk"></i></label>
          <input
            name="shippingStreetNumber"
            type="text"
            formControlName="shippingStreetNumber"
            pInputText
            placeholder="ex. 99"
          />
        </div>
        <div class="p-field p-col-5">
          <label for="shippingStreetNumber2">Complemento</label>
          <input
            name="shippingStreetNumber2"
            type="text"
            formControlName="shippingStreetNumber2"
            pInputText
            placeholder="ex. Bloco B, 403"
          />
        </div>
        <div class="p-field p-col-5">
          <label class="input-label" for="shippingNeighborhood">Bairro <i class="fal fa-asterisk"></i></label>
          <input
            name="shippingNeighborhood"
            type="text"
            formControlName="shippingNeighborhood"
            pInputText
            placeholder="ex. Consolação"
          />
        </div>
      </div>
    </form>
  </p-card>
</div>
