<div><p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu></div>
<div class="search-container">
  <form (ngSubmit)="queryProducts()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-8">
        <label for="query">Pesquisa</label>
        <input id="query" name="query" type="text" [(ngModel)]="query" pInputText />
      </div>
      <div class="p-field p-col-4">
        <label for="isActive">status</label>
        <p-dropdown name="status" [options]="statusOptions" [(ngModel)]="status" optionLabel="label"></p-dropdown>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <button pButton type="submit" label="Pesquisar"></button>
        <button
          pButton
          type="submit"
          class="p-button-secondary"
          (click)="resetFilter()"
          label="Limpar Filtros"
        ></button>
      </div>
    </div>
  </form>
</div>
<div class="feature-header">
  <p>
    <label>Controle seus produtos no mercado livre de forma simplificada.</label>
  </p>
  <div class="actionHeader">
    <p-autoComplete
      class="maxWidth"
      [(ngModel)]="category"
      [suggestions]="categories"
      (completeMethod)="search($event)"
      [multiple]="false"
      field="category_name"
      placeholder="Selecione a categoria do produto no mercado livre"
      [forceSelection]="true"
    ></p-autoComplete>
    <button
      [disabled]="!category"
      title="Cadastrar Categoria"
      pButton
      type="button"
      (click)="saveProducts()"
      label=" Salvar"
    ></button>
  </div>
</div>
<dgz-table
  [queryParams]="queryParams"
  (updateQueryParams)="updateQueryParams($event)"
  #MLProductsTable
  [dataProvider]="this"
  name="mercado-livre-list"
>
  <thead>
    <tr>
      <th>Selecionar</th>
      <th>Imagens</th>
      <th>SKU</th>
      <th>Título</th>
      <th>Preço Máximo</th>
      <th>Categoria</th>
      <th>Vinculado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of MLProductsTable.currentData">
      <td class="centered">
        <div class="space">
          <p-toggleButton
            [(ngModel)]="product.isChecked"
            onIcon="fal fa-check-square"
            offIcon="fal fa-square"
          ></p-toggleButton>
        </div>
      </td>
      <td class="thumbnail centered">
        <div>
          <i *ngIf="!product.thumbnail" class="fal fa-images"></i>
          <div class="square" *ngIf="product.thumbnail">
            <img [src]="product.thumbnail" [alt]="product.title" width="50px" height="50px" />
          </div>
        </div>
      </td>
      <td class="centered">{{ product.sku }}</td>
      <td>{{ product.title }}</td>
      <td class="centered">{{ product.sellingPrice | reais }}</td>
      <td class="centered">
        <div *ngIf="product.adProduct[0]">
          {{ product.adProduct[0]?.categoryName }}
        </div>
        <div *ngIf="!product.adProduct[0]">
          <p>Sem Categoria</p>
        </div>
      </td>
      <td class="centered">
        <div
          class="badge"
          [ngClass]="
            product.adProduct[0]?.isSynchronized == null
              ? ''
              : product.adProduct[0]?.isSynchronized
              ? 'success'
              : 'failure'
          "
        >
          <i
            class="fal fa-check success"
            *ngIf="product.adProduct[0]?.isSynchronized === true"
            pTooltip="Produto sincronizado"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-times failure"
            *ngIf="product.adProduct[0]?.isSynchronized == false"
            pTooltip="Produto não sincronizado"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-sync"
            *ngIf="product.adProduct[0]?.isSynchronized == null"
            pTooltip="Produto não sincronizado"
            tooltipPosition="top"
          ></i>
        </div>
      </td>
      <td class="actions">
        <button pButton type="button" label="Detalhes" [routerLink]="'/mercado-livre/form/' + product.sku"></button>
      </td>
    </tr>
  </tbody>
</dgz-table>
