<div class="feature-header">
  <p>
    <label>Controle as imagens do seu negócio de forma simplificada.</label>
  </p>
  <div class="actions">
    <button (click)="toggleManagementSection()">Gerenciar Imagens</button>
  </div>
</div>

<div class="container">
  <div
    *ngFor="let image of images"
    [ngStyle]="{ 'background-image': 'url(' + image.smallFileURL + ')' }"
    [ngClass]="image.selected ? 'selected' : ''"
  >
    <span class="select" (click)="selectImage(image)" *ngIf="!image.selected">
      <fa-icon [icon]="faSquare"></fa-icon>
    </span>
    <span class="deselect" (click)="deselectImage(image)" *ngIf="image.selected">
      <fa-icon [icon]="faCheckSquare"></fa-icon>
    </span>
    <span class="look" (click)="showLargeImage(image)">
      <fa-icon [icon]="faSearch"></fa-icon>
    </span>
  </div>
</div>
