@import "../../theme/theme-variables.scss";

.upload-area {
  max-height: 180px;
}

.management-section {
  background-color: #ffffff;
  padding: 15px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  background-color: #ffffff;
  padding: 10px;

  > .image-in-gallery {
    border: 1px solid #eee;
    padding: 5px;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
    font-size: 12px;

    &.selected {
      border: 1px solid #9cce9c;
    }

    .look {
      position: absolute;
      display: none;
      right: 0;
      bottom: 0;
      background-color: #eee;
      padding: 5px 5px 2px 10px;
      border-top-left-radius: 20px;
      border: 1px solid #ddd;
      border-bottom: none;
      border-right: none;
      cursor: pointer;
    }

    .deselect,
    .select {
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      background-color: #eee;
      padding: 2px 10px 5px 5px;
      border-bottom-right-radius: 20px;
      border: 1px solid #ddd;
      border-top: none;
      border-left: none;
      cursor: pointer;
    }

    .deselect {
      display: initial;
      background-color: #cbffcb;
      border: 1px solid #9cce9c;
      border-top: none;
      border-left: none;
    }

    &:hover {
      .look,
      .select {
        display: initial;
      }
    }
  }
}

.container div {
  background-color: #888;
  background-size: cover;
}

.container div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

p-dialog {
  div.img-container {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  div.image-tags {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    i.fa-spinner {
      margin-right: 5px;
      animation: rotation 2s infinite linear;
    }

    div.tags-container {
      display: flex;
      flex-direction: row;
      max-width: 50%;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
    }

    div.tag {
      display: inline;
      @include button-primary;
      color: #fff;
      padding: 5px 5px 5px 10px;
      margin-right: 5px;
      margin-bottom : 5px;
      line-break: normal;

      span {
        white-space: nowrap;

        i {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}
