.upload-area {
  max-height: 180px;
}

.feature-header {
  margin-top: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
}

.container div {
  background-color: red;
  background-size: cover;
}

.container div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 576px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
