<p-fileUpload
  #uploader
  multiple="multiple"
  customUpload="true"
  (onSelect)="onImagesSelected($event)"
  (onRemove)="onImageRemoved($event)"
  (uploadHandler)="uploadFiles($event)"
>
  <ng-template pTemplate="content">
    <div *ngIf="!imagesSelectedForUpload || imagesSelectedForUpload.length === 0">
      Selecione uma ou mais imagens para fazer upload.
    </div>
  </ng-template>
</p-fileUpload>

<div class="feature-header">
  <p>
    <label>Controle as imagens do seu negócio de forma simplificada.</label>
  </p>
  <div class="actions">
    <button pButton (click)="toggleManagementSection()" label="Gerenciar Imagens"></button>
  </div>
</div>

<div class="container">
  <div
    class="image-in-gallery"
    *ngFor="let image of images"
    [ngStyle]="{ 'background-image': 'url(' + image.smallFileURL + ')' }"
    [ngClass]="image.selected ? 'selected' : ''"
  >
    <span class="select" (click)="selectImage(image)" *ngIf="!image.selected">
      <i class="fal fa-square"></i>
    </span>
    <span class="deselect" (click)="deselectImage(image)" *ngIf="image.selected">
      <i class="fal fa-check-square"></i>
    </span>
    <span class="look" (click)="showLargeImage(image)">
      <i class="fal fa-search"></i>
    </span>
  </div>
</div>
<p-dialog
  [header]="modalTitle"
  [(visible)]="isModalVisible"
  [dismissableMask]="true"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  (onHide)="clearModal()"
>
  <img style="max-width: 100%;" [src]="modalImage" [alt]="modalTitle" />
</p-dialog>
