<div class="feature-header">
  <p>
    <label>Atualize os dados do seu produto no formulário abaixo.</label>
  </p>
  <div class="actions">
    <a routerLink="/products"><button pButton type="button" class="ui-button-secondary" label="Voltar"></button></a>
    <button (click)="submitProductDetails()" pButton type="button" label="Salvar"></button>
  </div>
</div>
<p-card>
  <form [formGroup]="formFields" (ngSubmit)="submitProductDetails()" *ngIf="!loading">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="sku">SKU:</label>
        <input id="sku" name="sku" type="text" formControlName="sku" pInputText placeholder="SKU do seu produto" />
      </div>
      <div class="p-field p-col">
        <label for="ncm">NCM:</label>
        <input id="ncm" name="ncm" type="text" formControlName="ncm" pInputText placeholder="Ex. 1234.12.34" />
      </div>
      <div class="p-field p-col">
        <label for="productActive">Ativo:</label>
        <p-inputSwitch id="productActive" name="productActive" formControlName="isActive"></p-inputSwitch>
      </div>
      <div class="p-field p-col-6">
        <label for="title">Título:</label>
        <input
          id="title"
          name="title"
          type="text"
          formControlName="title"
          pInputText
          placeholder="Título do seu produto"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="sellingPrice">Preço de venda:</label>
        <input
          id="sellingPrice"
          name="sellingPrice"
          type="text"
          formControlName="sellingPrice"
          pInputText
          placeholder="Preço de venda do produto"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="height">Altura do Produto (m):</label>
        <input
          id="height"
          name="height"
          type="text"
          formControlName="height"
          pInputText
          placeholder="Altura do produto em metros"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="width">Largura do Produto (m):</label>
        <input
          id="width"
          name="width"
          type="text"
          formControlName="width"
          pInputText
          placeholder="Largura do produto em metros"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="length">Comprimento do Produto (m)</label>
        <input
          id="length"
          name="length"
          type="text"
          formControlName="length"
          pInputText
          placeholder="Comprimento do produto em metros"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="weight">Peso do Produto (kg)</label>
        <input
          id="weight"
          name="weight"
          type="text"
          formControlName="weight"
          pInputText
          placeholder="Peso do produto em quilogramas (kg)"
        />
      </div>
      <div class="p-field p-col-12">
        <label for="description">Descrição Curta</label>
        <input
          id="description"
          name="description"
          type="text"
          formControlName="description"
          pInputText
          placeholder="Descrição curta do produto"
        />
      </div>
      <div class="p-field p-col-12">
        <label for="description">Descrição Detalhada</label>
        <medium-editor [(editorModel)]="productDetails" placeholder="Descreva seu produto em detalhes."></medium-editor>
      </div>
    </div>
  </form>
</p-card>
<div class="feature-header" style="margin-top: 30px;">
  <h2>Variações do Produto</h2>
  <p>
    <label>A tabela abaixo mostra as variações do produto em questão.</label>
  </p>
  <div class="actions">
    <button pButton type="button" (click)="newProductVariation()" label="Nova Variação"></button>
  </div>
</div>
<table class="digituz">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Título</th>
      <th>Preço</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let variation of variations">
      <td>{{ variation.sku }}</td>
      <td>{{ variation.description }}</td>
      <td class="currency">{{ variation.sellingPrice | reais }}</td>
      <td class="actions">
        <button pButton type="button" (click)="editProductVariation(variation)" label="Editar"></button>
      </td>
    </tr>
  </tbody>
</table>
