div.no-variations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  color: #666;

  p {
    line-height: 20px;
    margin: 10px;
  }

  i {
    font-size: 40px;
  }
}
