<div class="feature-header">
  <p>
    <label>Atualize os dados do seu produto no formulário abaixo.</label>
  </p>
  <div class="actions">
    <a routerLink="/products"><button nz-button>Voltar</button></a>
    <button nz-button nzType="primary" (click)="submitProductDetails()">Salvar</button>
  </div>
</div>
<nz-card>
  <nz-skeleton [nzActive]="true" *ngIf="loading"></nz-skeleton>
  <form nz-form [formGroup]="formFields" (ngSubmit)="submitProductDetails()" *ngIf="!loading">
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-label nzFor="sku">SKU</nz-form-label>
        <nz-form-control>
          <input nz-input name="sku" id="sku" placeholder="SKU do produto" formControlName="sku" />
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="4">
        <nz-form-label nzFor="ncm">NCM</nz-form-label>
        <nz-form-control>
          <input nz-input name="ncm" id="ncm" placeholder="NCM do produto" formControlName="ncm" />
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="4">
        <nz-form-label nzFor="productActive">Ativo</nz-form-label>
        <nz-form-control>
          <nz-switch name="productActive" id="productActive" formControlName="isActive"></nz-switch>
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-label nzFor="title">Título</nz-form-label>
        <nz-form-control>
          <input nz-input name="title" id="title" placeholder="Título do produto" formControlName="title" />
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-label nzFor="seillingPrice">Preço de Venda</nz-form-label>
        <nz-form-control>
          <nz-input-number
            formControlName="sellingPrice"
            name="seillingPrice"
            id="seillingPrice"
            [nzMin]="0"
            [nzMax]="1000000"
            [nzStep]="0.5"
            nzPlaceHolder="Preço de venda do produto"
          ></nz-input-number>
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-label nzFor="seillingPrice">Altura do Produto (m)</nz-form-label>
        <nz-form-control>
          <nz-input-number
            formControlName="height"
            name="height"
            id="height"
            [nzMin]="0"
            [nzMax]="500"
            [nzStep]="0.01"
            nzPlaceHolder="Altura do produto em metros"
          ></nz-input-number>
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-label nzFor="seillingPrice">Largura do Produto (m)</nz-form-label>
        <nz-form-control>
          <nz-input-number
            formControlName="width"
            name="width"
            id="width"
            [nzMin]="0"
            [nzMax]="500"
            [nzStep]="0.01"
            nzPlaceHolder="Largura do produto em metros"
          ></nz-input-number>
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-label nzFor="seillingPrice">Comprimento do Produto (m)</nz-form-label>
        <nz-form-control>
          <nz-input-number
            formControlName="length"
            name="length"
            id="length"
            [nzMin]="0"
            [nzMax]="500"
            [nzStep]="0.01"
            nzPlaceHolder="Comprimento do produto em metros"
          ></nz-input-number>
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-label nzFor="seillingPrice">Peso do Produto (kg)</nz-form-label>
        <nz-form-control>
          <nz-input-number
            formControlName="weight"
            name="weight"
            id="weight"
            [nzMin]="0"
            [nzMax]="500"
            [nzStep]="0.01"
            nzPlaceHolder="Peso do produto em quilogramas (kg)"
          ></nz-input-number>
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="24">
        <nz-form-label nzFor="description">Descrição Curta</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            name="description"
            id="description"
            placeholder="Descrição curta do produto"
            formControlName="description"
          />
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="24">
        <nz-form-label nzFor="productDetails">Detalhamento</nz-form-label>
        <nz-form-control>
          <medium-editor
            [(editorModel)]="productDetails"
            placeholder="Descreva seu produto em detalhes."
          ></medium-editor>
        </nz-form-control>
      </div>
    </div>
  </form>
</nz-card>
<div class="feature-header" style="margin-top: 30px;">
  <h2>Variações do Produto</h2>
  <p>
    <label>A tabela abaixo mostra as variações do produto em questão.</label>
  </p>
  <div class="actions">
    <button nz-button nzType="primary" (click)="newProductVariation()">Nova Variação</button>
  </div>
</div>
<nz-table #variationsTable [nzData]="variations">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Título</th>
      <th>Preço</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let variation of variationsTable.data">
      <td>{{ variation.sku }}</td>
      <td>{{ variation.description }}</td>
      <td>{{ variation.sellingPrice }}</td>
      <td class="actions">
        <button nz-button (click)="editProductVariation(variation)">Editar</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal
  nzWrapClassName="vertical-center-modal"
  [(nzVisible)]="isModalVisible"
  nzTitle="Formulário de Edição de Variação"
  (nzOnCancel)="handleCancel()"
  [nzCancelText]="'Cancel'"
  [nzOkText]="'Ok'"
>
  <form nz-form [formGroup]="formFieldsVariation" (ngSubmit)="submitVariation()" *ngIf="isModalVisible">
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="24">
        <nz-form-label nzFor="variationSku">SKU</nz-form-label>
        <nz-form-control>
          <input nz-input name="variationSku" id="variationSku" placeholder="SKU da variação" formControlName="sku" />
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="24">
        <nz-form-label nzFor="variationDescription">Descrição</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            name="variationDescription"
            id="variationDescription"
            placeholder="Descrição da variação"
            formControlName="description"
          />
        </nz-form-control>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="24">
        <nz-form-label nzFor="seillingPrice">Preço de Venda</nz-form-label>
        <nz-form-control>
          <nz-input-number
            formControlName="sellingPrice"
            name="variationSeillingPrice"
            id="variationSeillingPrice"
            [nzMin]="0"
            [nzMax]="1000000"
            [nzStep]="0.5"
            nzPlaceHolder="Preço de venda da variação"
          ></nz-input-number>
        </nz-form-control>
      </div>
    </div>
  </form>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
    <button nz-button nzType="danger" (click)="removeVariation()" *ngIf="showRemoveButton">Remover</button>
    <button nz-button nzType="primary" (click)="submitVariation()">Salvar</button>
  </div>
</nz-modal>
