<div class="feature-header">
  <p>
    <label>Atualize os dados do seu produto no formulário abaixo.</label>
  </p>
  <div class="actions">
    <a routerLink="/products"><button>Voltar</button></a>
    <button (click)="submitProductDetails()">Salvar</button>
  </div>
</div>
<div class="feature-header" style="margin-top: 30px;">
  <h2>Variações do Produto</h2>
  <p>
    <label>A tabela abaixo mostra as variações do produto em questão.</label>
  </p>
  <div class="actions">
    <button (click)="newProductVariation()">Nova Variação</button>
  </div>
</div>
