@import "../theme-variables";

p-autocomplete {
  width: 100%;
  display: block;

  .p-autocomplete,
  .p-autocomplete ul {
    width: 100%;
    display: block;
  }

  .p-autocomplete.p-autocomplete-multiple {
    .p-autocomplete-multiple-container {
      li.p-autocomplete-token {
        @include button-primary;

        span.p-autocomplete-token-label {
          margin-right: 22px;
        }

        span.p-autocomplete-token-icon {
          font-size: 10px;
          margin-right: 3px;
          margin-top: -4px;
        }
      }
    }
  }
}
