body .p-button {
  background-color: rgb(24, 144, 255);
  border-color: rgb(64, 169, 255);
  border-radius: $border-radius;
  box-shadow: none;
  font-size: $font-size;
  line-height: 20px;
  padding: 4px 14px;

  &.p-button-secondary {
    color: #333333;
    background-color: #d6d6d6;
    border: 1px solid #d6d6d6;

    &:enabled:hover,
    &:enabled:focus {
      box-shadow: none;
      background-color: #e5e5e5;
      border: 1px solid #e5e5e5;
      color: #666;
    }
  }

  &:enabled:hover,
  &:enabled:focus {
    background-color: #40a9ff;
    border-color: #40a9ff;
    box-shadow: none;
  }

  &.p-state-default.p-button-danger:enabled:hover,
  &.p-state-default.p-button-danger:enabled:focus {
    background-color: #ff2a3c;
    border-color: #f21b2d;
    box-shadow: none;
  }

  &.p-button-danger:disabled {
    cursor: not-allowed;
  }

  .p-button-text {
    font-size: $font-size;
    padding: 7px 15px;
    line-height: 19px;
  }

  span.p-button-icon-left {
    font-size: 12px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
