@import "../theme-variables.scss";

body .p-chkbox .p-chkbox-box {
  border-radius: $border-radius;
}

body .p-chkbox .p-chkbox-box.p-active:not(.p-disabled) {
  @include button-primary;
}

body .p-chkbox .p-chkbox-box .p-chkbox-icon {
  font-size: 10px;
  padding: 4px 2px;
}
