div.p-dialog-mask {
  div.p-dialog.p-confirmdialog {
    div.p-dialog-content {
      padding: 25px 15px;
      border-bottom-color: #fff;

      .p-confirmdialog-icon {
        display: none;
      }
    }

    .p-dialog-footer {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

div.p-dialog-titlebar-icons {
  display: grid;
  place-items: center;
  margin-top: 4px;
  font-size: 9px;
}
