.p-toast {
  .p-toast-message {
    border-radius: 1px;

    .p-toast-message-content {
      padding: 10px;

      .p-toast-detail {
        margin-bottom: 3px;
      }
    }

    .p-toast-icon-close {
      margin-top: -5px;

      span.p-toast-icon-close-icon {
        margin-top: 1px;
      }
    }

    &.p-toast-message-error {
      color: #884646;

      .pi-times {
        color: #884646;
        font-size: 10px;
        margin-top: -5px;
      }

      .pi-times-circle {
        font-size: 15px;
        color: #884646;
        margin-right: 5px;
      }
    }
  }
}
