<div class="feature-header">
  <p>
    <label>Pedido de Compra</label>
  </p>
  <div class="actions">
    <app-button-back fallbackURL="/purchase-orders"></app-button-back>

    <button (click)="submit()" pButton type="button" label="Salvar"></button>
  </div>
</div>
<p-card>
  <form [formGroup]="formFields" (ngSubmit)="submit()" *ngIf="!loading">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="referenceCode">Fornecedor</label>
        <p-autoComplete
          formControlName="supplier"
          [suggestions]="supplierSugestion"
          (completeMethod)="searchSuppliers($event)"
          [multiple]="false"
          field="completeDescription"
          placeholder="Selecione fornecedor"
        ></p-autoComplete>
        <small [hidden]="!isFieldInvalid('supplier')" id="description-help" class="p-invalid"
          >Insira o Fornecedor do Pedido</small
        >
      </div>
      <div class="p-field p-col-6">
        <label for="referenceCode">Código de Referencia</label>
        <input
          id="referenceCode"
          name="referenceCode"
          type="text"
          formControlName="referenceCode"
          pInputText
          placeholder="Ex. 41546514"
        />
        <small [hidden]="!isFieldInvalid('supplier')" id="description-help" class="p-invalid"
          >Insira o Código de referencia do Pedido</small
        >
      </div>
      <div class="p-field p-col-6">
        <label for="creationDate">Data do Pedido</label>
        <p-inputMask mask="99/99/9999" placeholder="ex. 01/06/2020" formControlName="creationDate"></p-inputMask>
      </div>
      <div class="p-field p-col-4">
        <label class="input-label" for="total">Total (R$)</label>
        <p-inputNumber
          id="total"
          name="total"
          formControlName="total"
          currency="BRL"
          mode="currency"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [disabled]="true"
          placeholder="ex. R$ 10,00"
        ></p-inputNumber>
      </div>
      <div class="p-field p-col-4">
        <label class="input-label" for="discount">Desconto (R$)</label>
        <p-inputNumber
          id="discount"
          name="discount"
          formControlName="discount"
          (onBlur)="updatePrice()"
          currency="BRL"
          mode="currency"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          placeholder="ex. R$ 10,00"
        ></p-inputNumber>
      </div>
      <div class="p-field p-col-4">
        <label class="input-label" for="shippingPrice">Taxa de Entrega (R$)</label>
        <p-inputNumber
          id="shippingPrice"
          name="shippingPrice"
          formControlName="shippingPrice"
          currency="BRL"
          mode="currency"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          placeholder="ex. R$ 10,00"
        ></p-inputNumber>
        <small [hidden]="!isFieldInvalid('supplier')" id="description-help" class="p-invalid"
          >Insira a Taxa de entrega do Pedido</small
        >
      </div>
    </div>
  </form>
</p-card>

<div style="margin-top: 20px;">
  <div class="feature-header">
    <p>
      <label>Itens do pedido</label>
    </p>
    <div class="actions">
      <button (click)="addItem()" pButton type="button" label="Adicionar Produto"></button>
    </div>
  </div>
  <p-card>
    <form [formGroup]="formFields" (ngSubmit)="submit()" *ngIf="!loading">
      <div class="p-fluid p-formgrid p-grid p-col-12">
        <div class="p-col-7">
          <label class="input-label">Produto</label>
        </div>
        <div class="p-col-2">
          <label class="input-label">Preço</label>
        </div>
        <div class="p-col-2">
          <label class="input-label">Quant.</label>
        </div>
      </div>
      <div class="p-col-12" formArrayName="items" *ngFor="let control of formFields.controls.items?.value; index as i">
        <div [formGroupName]="i" class="p-fluid p-formgrid p-grid p-col-12">
          <div class="p-field p-col-7">
            <p-autoComplete
              formControlName="productVariation"
              [suggestions]="productVariationsSugestion"
              (completeMethod)="searchProductVariations($event)"
              (onSelect)="selectProductVariation($event, i)"
              [multiple]="false"
              field="completeDescription"
              placeholder="Selecione um produto"
            >
              <!-- <small [hidden]="!isFieldInvalid('productVariation')" id="description-help" class="p-invalid"
                >Insira um produto</small
              > -->
              <ng-template let-productVariation pTemplate="item">
                <div>{{ productVariation.sku }} - {{ productVariation.title }}</div>
              </ng-template>
            </p-autoComplete>
          </div>
          <div class="p-field p-col-2">
            <p-inputNumber
              id="price"
              name="price"
              formControlName="price"
              currency="BRL"
              mode="currency"
              locale="pt-BR"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [disabled]="true"
              placeholder="ex. R$ 10,00"
            ></p-inputNumber>
          </div>
          <div class="p-field p-col-2">
            <p-inputNumber
              formControlName="amount"
              mode="decimal"
              [minFractionDigits]="0"
              [maxFractionDigits]="0"
              placeholder="ex. R$ 10,00"
              (onBlur)="updatePrice()"
            ></p-inputNumber>
          </div>
          <div class="p-field p-col-1">
            <button
              (click)="removeItem(i)"
              pButton
              icon="fal fa-trash"
              class="p-button-danger"
              style="width: 100%;"
              pTooltip="Remover item"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </p-card>
</div>
