<div class="feature-header" style="margin-top: 30px;">
  <h2>Imagens do Produto</h2>
  <p>
    <label>Utilize esta seção para definir quais imagens serão veiculadas com o produto.</label>
  </p>
  <div class="actions">
    <button pButton type="button" (click)="openImagesDialog()" label="Vincular Imagens"></button>
  </div>
</div>
<table class="digituz">
  <thead>
    <tr>
      <th colspan="2">Imagens</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productImage of productImages">
      <td>
        <div class="images-container">
          <div class="image">
            <div
              class="thumbnail-container"
              [ngStyle]="{ 'background-image': 'url(' + productImage.smallFileURL + ')' }"
            ></div>
            <div class="image-details">
              <p>
                Nome da Imagem:
                <a target="_blank" [href]="productImage.originalFileURL"
                  >{{ productImage.originalFilename }} <i class="fal fa-external-link"></i
                ></a>
              </p>
              <p>Dimensões: {{ productImage.width }}x{{ productImage.height }}</p>
            </div>
          </div>
        </div>
      </td>
      <td class="actions">
        <button pButton class="ui-button-danger" type="button" icon="fal fa-trash"></button>
      </td>
    </tr>
    <tr *ngIf="!product.productImages || product.productImages.length === 0">
      <td colspan="2">
        <div class="no-data-container">
          <i class="fal fa-inbox"></i>
          <p>Este produto não contém nenhuma imagem adicionada.</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p-dialog
  header="Acervo de Imagens"
  [(visible)]="isModalVisible"
  [dismissableMask]="true"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  class="product-images"
>
  <div *ngIf="!availableImages || availableImages.length === 0" style="text-align: center; width: 200px; line-height: 25px;">
    Este produto não contém imagens registradas <a routerLink="/media-library">no acervo</a>.
  </div>
  <div class="images-container">
    <div class="image" *ngFor="let image of availableImages">
      <div class="select-image">
        <p-checkbox name="selectedImages" [value]="image" [(ngModel)]="selectedImages"></p-checkbox>
      </div>
      <div class="thumbnail-container" [ngStyle]="{ 'background-image': 'url(' + image.smallFileURL + ')' }"></div>
      <div class="image-details">
        <p>
          Nome da Imagem:
          <a target="_blank" [href]="image.originalFileURL"
            >{{ image.originalFilename }} <i class="fal fa-external-link"></i
          ></a>
        </p>
        <p>Dimensões: {{ image.width }}x{{ image.height }}</p>
      </div>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" class="ui-button-secondary" (click)="closeDialog()" label="Cancelar"></button>
    <button
      pButton
      type="button"
      class="ui-button-primary"
      (click)="saveProductImages()"
      label="Salvar"
      [disabled]="!selectedImages || selectedImages.length === 0"
    ></button>
  </p-footer>
</p-dialog>
