.app-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 60px auto;
  background-color: rgb(240, 242, 245);

  .logo {
    background-color: #001529;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    box-shadow: 2px -2px 2px 0px #999;
    z-index: 11;

    span {
      opacity: 0.8;
      letter-spacing: 0.7px;
    }
  }

  .top-bar {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #666;

    .sign-out {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #000;
    }

    .user-area {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      margin-right: 15px;
      cursor: pointer;
      img {
        border-radius: 25px;
        margin-right: 10px;
      }
    }
  }

  .menu {
    background-color: #001529;
    color: white;
    box-shadow: 2px -3px 2px 0px #999;
    z-index: 10;

    ul {
      padding: 0;
      list-style: none;

      li {
        cursor: pointer;

        a {
          display: block;
          color: #fff;
          opacity: 0.8;
          padding: 20px;
          text-decoration: none;
          &:hover {
            opacity: 1;
          }

          i:first-child {
            margin-right: 10px;
          }

          i:last-child {
            float: right;
            font-size: 9px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .content {
    background-color: #f0f2f5;
    padding: 20px;
  }
}
