<p-dialog
  header="Movimentação de Estoque"
  [(visible)]="isModalVisible"
  [dismissableMask]="true"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  [contentStyle]="{ overflow: 'visible' }"
>
  <form nz-form [formGroup]="formFields" (ngSubmit)="submitMovement()" *ngIf="isModalVisible">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12">
        <label for="variationSku">Produto</label>
        <p-autoComplete
          formControlName="productVariation"
          [suggestions]="productVariations"
          (completeMethod)="search($event)"
          [multiple]="false"
          field="title"
          placeholder="Selecione um produto"
        >
          <ng-template let-productVariation pTemplate="item">
            <div>{{ productVariation.sku }} - {{ productVariation.title }}</div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="p-field p-col-12">
        <label for="variationDescription">Descrição</label>
        <input
          pInputText
          name="variationDescription"
          id="variationDescription"
          placeholder="Descrição da variação"
          formControlName="description"
        />
      </div>
      <div class="p-field p-col-6">
        <label for="variationSellingPrice">Quantidade</label>
        <p-inputNumber
          formControlName="amount"
          [min]="0"
          [max]="100"
          placeholder="Informe uma quantidade"
        ></p-inputNumber>
      </div>
      <div class="p-field p-col-6">
        <label for="variationSellingPrice">Tipo</label>
        <p-dropdown [options]="movementTypes" formControlName="movementType"></p-dropdown>
      </div>
    </div>
  </form>
  <p-footer>
    <button pButton type="button" class="ui-button-secondary" (click)="handleCancel()" label="Cancelar"></button>
    <button
      pButton
      type="button"
      class="ui-button-danger"
      (click)="removeMovement()"
      *ngIf="showRemoveButton"
      label="Remover"
    ></button>
    <button pButton type="button" class="ui-button-primary" (click)="submitMovement()" label="Salvar"></button>
  </p-footer>
</p-dialog>
