body .ui-button {
  background-color: rgb(24, 144, 255);
  border-color: rgb(64, 169, 255);
  border-radius: 2px;
  box-shadow: none;
  font-size: 13px;

  &.ui-state-default.ui-button-secondary {
    color: #333333;
    background-color: #d6d6d6;
    border: 1px solid #d6d6d6;

    &:enabled:hover,
    &:enabled:focus {
      box-shadow: none;
      background-color: #e5e5e5;
      border: 1px solid #e5e5e5;
    }
  }

  &:enabled:hover,
  &:enabled:focus {
    background-color: #40a9ff;
    border-color: #40a9ff;
    box-shadow: none;
  }

  &.ui-state-default.ui-button-danger:enabled:hover,
  &.ui-state-default.ui-button-danger:enabled:focus {
    background-color: #ff2a3c;
    border-color: #f21b2d;
    box-shadow: none;
  }

  &.ui-button-danger:disabled {
    cursor: not-allowed;
  }

  .ui-button-text {
    font-size: 13px;
    padding: 7px 15px;
    line-height: 19px;
  }

  span.ui-button-icon-left {
    font-size: 12px;
  }
}
