/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

// Theme customization
@import "theme/primeng-customization";
@import "theme/theme";

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.p-inputtext.p-corner-all.ng-invalid:not(form):not(.ng-untouched),
.ng-invalid:not(form):not(.ng-untouched) {
  border-color: $danger !important ;
}

p-inputnumber.ng-dirty.ng-invalid .p-inputtext,
p-inputnumber.ng-touched.ng-invalid .p-inputtext {
  border: 1px solid red !important;
  border-color: $danger !important ;
}

p-autocomplete.ng-dirty.ng-invalid .p-inputtext,
p-autocomplete.ng-touched.ng-invalid .p-inputtext {
  border: 1px solid red !important;
  border-color: $danger !important ;
}

p-inputmask.ng-dirty.ng-invalid .p-inputtext,
p-inputmask.ng-touched.ng-invalid .p-inputtext {
  border: 1px solid red !important;
  border-color: $danger !important ;
}
