<div class="search-container">
  <form (ngSubmit)="querySalesOrders()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <label for="query">Pesquisa</label>
        <input id="query" name="query" type="text" [(ngModel)]="query" pInputText />
      </div>
      <div class="p-field p-col">
        <label for="isApproved">Status Pagamento</label>
        <p-dropdown
          name="paymentStatus"
          [options]="paymentStatusOptions"
          [(ngModel)]="paymentStatus"
          optionLabel="label"
        ></p-dropdown>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-6">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>
</div>
<div class="feature-header">
  <p>
    <label>Controle as suas vendas de forma simplificada.</label>
  </p>
  <div class="actions">
    <a title="Nova Venda" routerLink="/sales-orders/new"><button pButton type="button" label="Nova Venda"></button></a>
  </div>
</div>
<dgz-table #salesOrdersTable [dataProvider]="this" [queryParams]="queryParams">
  <thead>
    <tr>
      <th dgz-sortable="date">Data</th>
      <th dgz-sortable="referenceCode">Cód. Referência</th>
      <th dgz-sortable="name">Cliente</th>
      <th dgz-sortable="total">Total</th>
      <th dgz-sortable="status">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let salesOrder of salesOrdersTable.currentData">
      <td class="centered">{{ salesOrder.creationDate | date: 'dd/MM HH:mm' }}</td>
      <td class="centered">{{ salesOrder.referenceCode }}</td>
      <td>{{ salesOrder.customer.name }}</td>
      <td class="currency">{{ salesOrder.total | reais }}</td>
      <td class="centered">
        <div
          class="badge"
          [ngClass]="
            (salesOrder.paymentStatus === 'APPROVED' && 'success') ||
            (salesOrder.paymentStatus === 'CANCELLED' && 'failure')
          "
        >
          <i
            class="fal fa-check"
            *ngIf="salesOrder.paymentStatus === 'APPROVED'"
            pTooltip="Pagamento aprovado"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-times"
            *ngIf="salesOrder.paymentStatus === 'CANCELLED'"
            pTooltip="Pagamento cancelado"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-sync"
            *ngIf="salesOrder.paymentStatus === 'IN_PROCESS'"
            pTooltip="Pagamento em processamento"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-ghost"
            *ngIf="!salesOrder.blingStatus"
            pTooltip="Venda não sincronizada com o Bling"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-times"
            *ngIf="salesOrder.blingStatus === 'CANCELADO'"
            pTooltip="Venda cancelada no Bling"
            tooltipPosition="top"
          ></i>
          <i
            class="fal fa-exchange"
            *ngIf="!!salesOrder.blingStatus && salesOrder.blingStatus !== 'CANCELADO'"
            pTooltip="Venda sincronizada com o Bling"
            tooltipPosition="top"
          ></i>
        </div>
      </td>
      <td class="actions">
        <a [title]="'Venda'" [routerLink]="'/sales-orders/' + salesOrder.referenceCode">
          <button
            pButton
            type="button"
            class="ui-button-secondary"
            [icon]="!!salesOrder.blingStatus ? 'fal fa-search' : 'fal fa-edit'"
            [pTooltip]="!!salesOrder.blingStatus ? 'Visualizar venda.' : 'Editar detalhes.'"
            tooltipPosition="top"
          ></button>
        </a>
        <button
          pButton
          type="button"
          icon="fal fa-copy"
          class="ui-button-secondary"
          pTooltip="Duplicar venda."
          tooltipPosition="top"
          (click)="duplicateOrder(salesOrder)"
        ></button>
        <button
          pButton
          type="button"
          icon="fal fa-exchange"
          class="ui-button-secondary"
          pTooltip="Sincronizar venda com Bling. Apenas para vendas aprovadas."
          tooltipPosition="top"
          (click)="syncWithBling(salesOrder)"
          [disabled]="!!salesOrder.blingStatus || salesOrder.paymentStatus !== 'APPROVED'"
        ></button>
        <button
          pButton
          type="button"
          icon="fal fa-times"
          class="ui-button-danger"
          pTooltip="Cancelar venda no Bling."
          tooltipPosition="top"
          (click)="cancelOnBling(salesOrder)"
          [disabled]="!salesOrder.blingStatus || salesOrder.paymentStatus !== 'APPROVED'"
        ></button>
      </td>
    </tr>
  </tbody>
</dgz-table>
