div.badge {
  display: inline-block;
  border-radius: 3px;
  color: white;
  padding: 5px;
  line-height: 22px;
  font-size: 12px;
  background-color: #eee;
  color: #444;

  i {
    width: 20px;
  }

  &.success {
    color: #45aa50;
  }

  &.failure {
    color: #dd636e;
  }
}

td.actions {
  a:first-child {
    .ui-button {
      background-color: #d6d6d6;
      border-color: #d6d6d6;
      color: #333333;
    }
  }
}
