<div class="p-grid">
  <div class="p-col-4 sales-summary">
    <div>
      <div>
        <h2>3 dias</h2>
        <h2 class="period-sum">{{ threeDaysTotal | reais }}</h2>
      </div>
      <p-chart height="100" type="line" [data]="threeDaysData" [options]="chartOptions"></p-chart>
    </div>
  </div>
  <div class="p-col-4 sales-summary">
    <div>
      <div>
        <h2>7 Dias</h2>
        <h2 class="period-sum">{{ sevenDaysTotal | reais }}</h2>
      </div>
      <p-chart height="100" type="line" [data]="sevenDaysData" [options]="chartOptions"></p-chart>
    </div>
  </div>
  <div class="p-col-4 sales-summary">
    <div>
      <div>
        <h2>30 Dias</h2>
        <h2 class="period-sum">{{ thirtyDaysTotal | reais }}</h2>
      </div>
      <p-chart height="100" type="line" [data]="thirtyDaysData" [options]="chartOptions"></p-chart>
    </div>
  </div>
  <div class="p-col-12">
    <div class="feature-header">
      <p>
        <label>Vendas confirmadas nos últimos 3 dias.</label>
      </p>
    </div>
    <div style="background-color: #fff; overflow: auto;">
      <dgz-table
        #salesOrderTable
        [dataProvider]="this"
        [queryParams]="queryParams"
        name="sales-order-list"
        [showPaginationArea]="false"
      >
        <thead>
          <tr>
            <th style="width: 85px;">Data</th>
            <th colspan="2">Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salesOrder of salesOrderTable.currentData">
            <td class="centered">
              <div style="line-height: 20px; display: flex; flex-direction: column; width: 80px;">
                {{ salesOrder.approvalDate | date: 'dd/MM'
                }}<small>{{ salesOrder.approvalDate | date: 'HH:mm' }}</small>
              </div>
            </td>
            <td>
              <div class="sale-order-details">
                <p>{{ salesOrder.customer.name }}</p>
                <p>
                  <small>
                    {{ salesOrder.shipmentDetails.shippingCity }}/{{ salesOrder.shipmentDetails.shippingState }}
                  </small>
                  <small>
                    {{ getShippingType(salesOrder.shipmentDetails.shippingType) }}
                  </small>
                  <small><i class="fal fa-cubes"></i> {{ salesOrder.items.length }}</small>
                </p>
              </div>
            </td>
            <td class="actions">
              {{ salesOrder.paymentDetails.total | reais }}
              <button
                pButton
                class="p-button-secondary"
                style="margin-left: 10px;"
                [icon]="'fal fa-search'"
                [routerLink]="'/sales-orders/' + salesOrder.referenceCode"
              ></button>
            </td>
          </tr>
        </tbody>
      </dgz-table>
    </div>
  </div>
</div>
