@import "../../theme/theme-variables.scss";

.logo {
  width: 100px;
}

div.sale-order-details {
  display: flex;
  flex-direction: column;
  line-height: initial;
  margin: 10px 0;

  p {
    margin: 0;
    margin-bottom: 5px;
  }

  small {
    background-color: #eee;
    color: #666;
    border-radius: 3px;
    display: inline;
    padding: 3px 5px;
    margin-right: 5px;
  }
}

div.sales-summary {
  > div {
    background-color: #fff;
    padding: 15px;
    border-radius: $border-radius;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    h2 {
      margin-top: 0;
      font-weight: normal;

      small {
        font-size: 10px;
        float: left;
        padding: 3px 5px;
        margin-right: 10px;
        background-color: #ddd;
        border-radius: 5px;
        margin-top: 3px;
      }
    }

    h2.period-sum {
      text-align: right;
    }
  }
}
