<div class="p-grid">
  <div class="p-col-12">
    <div class="feature-header">
      <p>
        <label>Vendas confirmadas nos últimos 3 dias.</label>
      </p>
    </div>
    <div style="height: 345px; min-height: 345px; background-color: #fff; overflow: auto;">
      <dgz-table
        #salesOrderTable
        [dataProvider]="this"
        [queryParams]="queryParams"
        name="sales-order-list"
        [showPaginationArea]="false"
      >
        <thead>
          <tr>
            <th style="width: 85px;">Data</th>
            <th colspan="2">Detalhes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let salesOrder of salesOrderTable.currentData">
            <td class="centered">
              <div style="line-height: 20px; display: flex; flex-direction: column; width: 80px;">
                {{ salesOrder.approvalDate | date: 'dd/MM'
                }}<small>{{ salesOrder.approvalDate | date: 'HH:mm' }}</small>
              </div>
            </td>
            <td>
              <div style="overflow: hidden; white-space: nowrap;">{{ salesOrder.customer.name }}</div>
            </td>
            <td class="actions">
              <i
                class="fal fa-piggy-bank"
                [pTooltip]="salesOrder.paymentDetails.total | reais"
                tooltipPosition="top"
              ></i>
              <i class="fal fa-truck" [pTooltip]="salesOrder.shipmentDetails.shippingType" tooltipPosition="top"></i>
              <i
                class="fal fa-map-marked-alt"
                [pTooltip]="salesOrder.shipmentDetails.shippingCity + '/' + salesOrder.shipmentDetails.shippingState"
                tooltipPosition="top"
              ></i>
              <button
                pButton
                class="p-button-secondary"
                [icon]="'fal fa-search'"
                [routerLink]="'/sales-orders/' + salesOrder.referenceCode"
              ></button>
            </td>
          </tr>
        </tbody>
      </dgz-table>
    </div>
  </div>
  <div class="p-col-12">
    <div class="feature-header">
      <p>
        <label>Vendas, em reais, confirmadas nos últimos 7 dias.</label>
      </p>
    </div>
    <div style="background-color: #fff;">
      <p-chart height="345" type="bar" [data]="data"></p-chart>
    </div>
  </div>
</div>
